@model MTSINHR.Models.Message

@{
    Layout = "~/Views/Shared/Layout_New.cshtml";
}

@System.Web.Optimization.Styles.Render("~/bundles/datepickercss")
@System.Web.Optimization.Scripts.Render("~/bundles/jquery")
@System.Web.Optimization.Scripts.Render("~/bundles/bootstrap")
@System.Web.Optimization.Scripts.Render("~/bundles/datepicker")
<script src="~/Scripts/bootbox.min.js"></script>

<style>
    .carousel-inner img {
        width: 100%;
        height: 100%;
    }
</style>



<script>

    function PostMessage() {
        var FromDate = $('#FromDate').val();
        var ToDate = $('#ToDate').val();
        var TextMessage = $('#TextMessage').val();
        var MessageTitle = $('#MessageTitle').val();
        var DataImage = new FormData($('#MessageForm')[0]);

        if ($('#MessageForm').valid()) {
            $.ajax({
                type: "POST",
                url: '@Url.Content("~/UpdateTimeLine/Add")',
                data:
                        DataImage,
                headers: {
                    'FromDate': FromDate,
                    'ToDate': ToDate,
                    'MessageTitle': MessageTitle,
                    'TextMessage': TextMessage
                },
                contentType: false,
                processData: false,

                success: function (Result) {

                    if (Result == "Success") {
                        bootbox.alert("Successfully Posted");
                    }
                    else {
                        bootbox.alert("Failed to post");
                    }
                }
            });
        }
    }
</script>

<html>

<body>

    <h4 style="color: chocolate">Messages</h4>
    <form enctype="multipart/form-data" method="post" name="Message" id="MessageForm">

        <div class="form-group">
            <label>Message Title</label>
            <input type="text" id="MessageTitle" name="MessageTitle" class="form-control" />
        </div>

        <div class="form-group">
            <label>Text Message</label>
            <textarea class="form-control" id="TextMessage" placeholder="Post something..." rows="3"></textarea>
        </div>

        <div class="btn-toolbar">
            <div class="btn-group">
                <label>From Date  </label>
                &nbsp;
        <input type="text" id="FromDate" name="FromDate" />&nbsp;&nbsp;
        <label>To Date  </label>
                &nbsp;
        <input type="text" id="ToDate" name="ToDate" />&nbsp;&nbsp;
        
                <div class="image-upload">
                    <label for="imageinput">
                        <i class="fa fa-camera fa-lg" style="color: chocolate"></i>
                    </label>

                    <input id="imageinput" type="file" name="file" value="pick" hidden="hidden" />
                </div>
                &nbsp;&nbsp;

        <div>
            <button type="button" class="btn btn-danger btn-sm pull-right" onclick="PostMessage()">Post</button>
        </div>

            </div>
        </div>
    </form>
    <br />





    <div id="carousel-example" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
        </ul>
        <div class="carousel-inner">
        </div>
        <a class="carousel-control-prev" href="#carousel-example" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#carousel-example" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>

</body>
</html>

<script>
    $(document).ready(function () {
        $('#FromDate').datepicker({
            format: 'dd/M/yyyy',
            autoclose: true,
            todayHighlight: true,
        });

        $('#ToDate').datepicker({
            format: 'dd/M/yyyy',
            autoclose: true,
            todayHighlight: true,
        });
        $.ajax({
            type: "GET",
            url: '@Url.Content("~/UpdateTimeLine/GetMessages")',

            success: function (data) {

                var len = JSON.parse(data);

                for (var i = 0; i < len.length; i++) {

                    var str = '<div class="carousel-item"><img src=@Url.Content("~/Images/slider1.jpg") alt="Slider" class="img-fluid"><div class="carousel-caption"><h4 class="headtitle">' + len[i].MessageTitle + '</h4> <p class="messageparagraph">' + len[i].Message + '</p> </div></div>'
                    $(str).appendTo(".carousel-inner");


                    $('<li data-target="#carousel-example" data-slide-to="' + len[i] + '"></li>').appendTo('.carousel-indicators')

                }
                $('.carousel-item').first().addClass('active');
                $('.carousel-indicators > li').first().addClass('active');
                $('#carousel-example').carousel();
            }
        });
    });
</script>
