@model LeaveApply.Models.Leave

@{
    ViewBag.Title = "Export";
}

@System.Web.Optimization.Styles.Render("~/bundles/bootstrapdt")
@System.Web.Optimization.Styles.Render("~/bundles/datepickercss")
@System.Web.Optimization.Scripts.Render("~/bundles/datatable")
@System.Web.Optimization.Scripts.Render("~/bundles/datepicker")
<script src="~/Scripts/DataTables/dataTables.buttons.min.js"></script>
<script src="~/Scripts/DataTables/excel.min.js"></script>
<script src="~/Scripts/DataTables/buttons.html5.min.js"></script>
<link href="~/Content/DataTables/css/buttons.dataTables.min.css" rel="stylesheet" />


<script>
    $(function () {

        $('#Month').datepicker({
            changeMonth: true,
            changeYear: false,
            startView: "months",
            autoclose: "true",
            format: "MM",
            viewMode: "months",
            minViewMode: "months",


        });

        $('#Year').datepicker({
            changeMonth: false,
            changeYear: true,
            startView: "years",
            autoclose: "true",
            format: "yyyy",
            viewMode: "years",
            minViewMode: "years",


        });

    });

    function ShowReport() {

        if ($("#Export").valid()) {
            $.ajax({

                type: "POST",
                url: '@Url.Content("~/EmployeeLeaveList/Export")',
                data:
                    {
                        Month: $("#Month").val(),
                        Year: $("#Year").val()
                    },

                success: function (ds1) {

                    var ds2 = JSON.parse(ds1)
                    if (ds2.length > 0) {
                        dt = $("#mytable").DataTable({
                            "dom": 'Bfrtip',
                            buttons: [

                        'excel',

                            ],
                            "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                            "iDisplayLength": 5,
                            "aaData": ds2,
                            "aoColumns":
                                [{ "mData": "Employee_Id", "sTitle": "Employee ID", },
                                { "mData": "Fullname", "sTitle": "Employee Name" },
                                { "mData": "Month", "sTitle": "Month" },
                                { "mData": "year", "sTitle": "Year" },
                                { "mData": "LeaveType", "sTitle": "Leave Type" },
                               { "mData": "Numberofdays", "sTitle": "Number Of Days" },
                                  { "mData": "LeaveBalance", "sTitle": "Leave Balance" },

                                ]

                        });

                        $("#Export").hide();
                        $(".card").show();

                    }
                    else {

                        toastr.error("No Data Found");
                    }
                },
            });
        }
    }

</script>
<div style="display: none" class="card">
    <div class="card-body ">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-10">
                </div>
                <div class="col-sm-2">
                    <button class="pull-right btn btn-primary m-b-10" type="button" onclick="location.href='@Url.Action("Export", "EmployeeLeaveList")'">Back</button>
                </div>
            </div>
        </div>
        <div class="MTS_Table">
            <table style="width: 100%" id="mytable" class="table"></table>
        </div>
    </div>
</div>


<form class="form-signin" id="Export">

    <div class="card card-shadow">
        <div class="card-header text-center">
            Export
        </div>
        <div class="card-body">
            <div class="label-600">

                <div class="form-group">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Month)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Month, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Month)
                    </div>
                </div>
                <div class="form-group">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Year)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Year, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Year)
                    </div>
                </div>


            </div>
            <button class="btn btn-primary pull-right" type="button" onclick="ShowReport()">View Report</button>
        </div>
    </div>


</form>
