@model LeaveApply.Models.Leave

@{
    ViewBag.Title = "LeaveApproval";
}

@System.Web.Optimization.Styles.Render("~/bundles/bootstrapdt")
@System.Web.Optimization.Scripts.Render("~/bundles/datatable")
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/daterangepicker.min.js"></script>
<script src="~/Scripts/bootbox.js"></script>
<link href="~/Content/daterangepicker.css" rel="stylesheet" />

<ul class="nav nav-tabs">
    <li class="active col-md-6 text-center"><a class="nav-link" href='@Url.Content("~/EmployeeLeavePending/LeavePending")'>Pending</a></li>
    <li class="col-md-6 text-center"><a class="nav-link" href='@Url.Content("~/EmployeeLeaveApproval/LeaveApproval")'>Approved</a></li>
</ul>

<script>
    var dt;
    $(document).ready(function () {
        InitializeTable();
        $('input[name="daterange"]').daterangepicker({
            opens: 'left'
        });
        $.ajax({
            type: "POST",
            url: '@Url.Content("~/EmployeeLeaveApproval/GetAllApprovalLeaveList")',
            success: function (ds1) {
                
                dt.rows().clear().draw();
                dt.rows.add(JSON.parse(ds1)).draw();
            },
        });
    });


    function InitializeTable()
    {
        dt = $("#mytable").DataTable({
            "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
            "iDisplayLength": 5,
            "aaData": "",
            "order":2,
            "aoColumns":
                [{ "mData": "Empid", "sTitle": "Employee ID", },
                { "mData": "EmployeeName", "sTitle": "Employee Name" },
                { "mData": "FromDate", "sTitle": "From Date" },
                { "mData": "ToDate", "sTitle": "To Date" },
                { "mData": "NumberOfDays", "sTitle": "Number of Days" },
                { "mData": "LeaveType", "sTitle": "Leave Type" },
                { "mData": "Reason", "sTitle": "Reason" },
                ]
        });
    }
  function FilterLeaves()
    {
      $.ajax({
          type: "POST",
          data:{
              DateRange: $("input[name='daterange']").val()
          },
          headers:{"Range":1},
          url: '@Url.Content("~/EmployeeLeaveApproval/GetAllApprovalLeaveList")',
            success: function (ds1) {
                
                dt.rows().clear().draw();
                dt.rows.add(JSON.parse(ds1)).draw();
            },
       });
    }
</script>


<div class="card">
    <div class="card-body">
        <div>
            <div class="row">
                <div class="col-sm-7 col-md-6">
                    <h4>Approved Leaves</h4>
                </div>
                 <div class="col-sm-5 col-md-6 text-right">
                     <div style="display:inline-block">
                         <input type="text" name="daterange" class="form-control form-control-sm m-r-5" />
                     </div>
                  <div style="display:inline-block" class="m-l-15">
                         <button type="button" class="btn btn-primary btn-sm" onclick="FilterLeaves()">Search</button>
                  </div>
                   
                </div>
               
            </div>
            <div class="clearfix"></div>
            <div class="row m-t-15">

                <div class="MTS_Table">
                    <table id="mytable" class="table table-bordered table-hover tabel-sm table-responsive" cellspacing="0" width="100%">
                    </table>
                </div>

            </div>
    </div>
</div>
</div>
