@model MTS.LoginModels.NewUser
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@using (Html.BeginForm("/updatePartial", "User", FormMethod.Post, new { id = "UserUpdateForm" }))
{
    object css = new { @class = "required" };
    object disabledHtmlOptions = ViewBag.button != null ? new { disabled = "disabled" } : css;
    object disabledHtmlWithoutReq = ViewBag.button != null ? new { disabled = "disabled" } : null;
    string isrequired = ViewBag.button != null ? " " : "*";
    string ishide = ViewBag.button == null ? "block" : "none";
    
    <div class="row-fluid">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
                <i class="icon-remove"></i>
            </button>
            @if (ViewBag.button == null)
            {
                <h3>
                    Edit User</h3>
            }
            else
            {
                <h3>
                    View User</h3>
            }
        </div>
        <div class="modal-body">
            <div class="span12 gap-left0 gap-bottom5">
                <div class="span5 gap-top5 text-right">
                    <b>First Name <span class="requi">@isrequired</span></b></div>
                <div class="span7">
                    @Html.TextBoxFor(m => m.Firstname, disabledHtmlOptions)
                    <div>@Html.ValidationMessageFor(m => m.Firstname)</div>
                </div>
            </div>
            <div class="span12  gap-left0 gap-bottom5">
                <div class="span5 gap-top5 text-right">
                    <b>Last Name <span class="requi">@isrequired</span></b></div>
                <div class="span7">
                    @Html.TextBoxFor(m => m.Lastname, disabledHtmlOptions)
                    <div>@Html.ValidationMessageFor(m => m.Lastname)</div>
                </div>
            </div>
            <div class="span12  gap-left0 gap-bottom5">
                <div class="span5 gap-top5 text-right">
                    <b>Email Id <span class="requi">@isrequired</span></b></div>
                <div class="span7">
                    @Html.TextBoxFor(m => m.Email, disabledHtmlOptions)
                    <div>@Html.ValidationMessageFor(m => m.Email)</div>
                </div>
            </div>
            <div class="span12  gap-left0 gap-bottom5" style="display:@ishide">
                <div class="span5 gap-top5 text-right">
                    <b>Confirm Email Id <span class="requi">@isrequired</span></b></div>
                <div class="span7">
                    @Html.TextBoxFor(m => m.ConfirmEmail, disabledHtmlOptions)
                    <div>@Html.ValidationMessageFor(m => m.ConfirmEmail)</div>
                </div>
            </div>            
            <div class="span12  gap-left0 gap-bottom5">
                <div class="span5 gap-top5 text-right">
                    <b>Role <span class="requi">@isrequired</span></b></div>
                <div class="span7">
                    @Html.DropDownListFor(m => m.Role, Model.Roles, "--Select--", disabledHtmlOptions)
                    <div>@Html.ValidationMessageFor(m => m.Role)</div>
                </div>
            </div>
            @Html.HiddenFor(m => m.UserId)
            <div class="span12  gap-left0 gap-bottom5">
                <div class="span5 gap-top5 text-right">
                    <b>Locked &nbsp;</b>
                </div>
                <div class="span7">
                    @Html.CheckBoxFor(m => m.locked, disabledHtmlWithoutReq)
                </div>
            </div>
            <div class="span12  gap-left0 gap-bottom5">
                <div class="span5 gap-top5 text-right">
                    <b>Active &nbsp;</b>
                </div>
                <div class="span7">
                    @Html.CheckBoxFor(m => m.Active, disabledHtmlWithoutReq)
                </div>
            </div>
        </div>
        <div class="modal-footer clear">
            @if (ViewBag.button == null)
            {
                <button type="submit" onclick="return Validation()" class="btn btn-primary ">
                    Save</button>
            }
            <button type="button" onclick=" $('#divmainpopup').modal('hide')" class="btn btn-primary ">
                Close</button>
        </div>
    </div>  
}
<script type="text/javascript">
    function Validation() {
        var validation = $('#UserUpdateForm').valid('#UserUpdateForm');
        return validation;
    }
    $('#UserUpdateForm').submit(function () {
        $.ajax({
            url: '@Url.Content("~/MTS.Login/User/updatePartial")',
            type: 'POST',
            data: $('#UserUpdateForm').serialize(),
            success: function (data) {
                alertMsg = data;
                $('#divmainpopup').modal('hide');
                GetData();
            },
            cache: false
        });
        return false;
    });


//    $(document).ready(function () {

//        $("#Department").change(function () {
//            $.getJSON('@Url.Content("~/MTS.Login/User/GetRoleList")', { Department: $("#Department").val() },
//                    function (myData) {
//                        var select = $("#Role");
//                        select.empty();
//                        select.append($('<option/>', {
//                            value: '',
//                            text: '--Select--'
//                        }));

//                        $.each(myData, function (index, itemData) {
//                            select.append($('<option/>', {
//                                value: itemData.Value,
//                                text: itemData.Text

//                            }));
//                        });
//                    });
//        });
//    });
</script>
