@model MTS.LoginModels.ChangePasswordBaseModel
@*@using MTS.ResourceExtension;*@
@{
    ViewBag.Title = "ForgotPassword";
    Layout = Url.Content("~/views/shared/_AccountLayout.cshtml");
   
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/sha1.js")" type="text/javascript"></script>
<script type="text/javascript">
    function encryptPassword() {
        if ($('#frmForgetChangePwd').valid()) {
            $('#NewPassword').val(CryptoJS.SHA1($('#NewPassword').val()));
            $('#ConfirmPassword').val(CryptoJS.SHA1($('#ConfirmPassword').val()));
            return true;
        }
        return false;
    }
</script>
@using (Html.BeginForm("/ForgetChangePassword", "Account", FormMethod.Post, new {@class="form-signin", @id = "frmForgetChangePwd", @name = "frmForgetChangePwd" }))
{
        
    @Html.HiddenFor(chngpwd => chngpwd.HashConfirmPassword)
    @Html.HiddenFor(chngpwd => chngpwd.HashCurrentPassword)

   
         <div class="card text-center card-shadow">
                    <div class="card-header form-signin-heading">
                     Change Password
                    </div>
                    <div class="card-body">
                                
                                <div class="span6">
                                    @Html.PasswordFor(chngpwd => chngpwd.NewPassword, new { @class = "required form-control",@placeholder="New Password"})
                                    <div>@Html.ValidationMessageFor(chngpwd => chngpwd.NewPassword)</div>
                                </div>
                            
                            <div class="span12 gap-left0 pad-bottom5">
                                
                                <div class="span6">
                                    @Html.PasswordFor(chngpwd => chngpwd.ConfirmPassword, new { @class = "required form-control",@placeholder="Confirm Password" })
                                    <div>@Html.ValidationMessageFor(chngpwd => chngpwd.ConfirmPassword)</div>
                                </div>
                            </div>
                            <div class="span12 gap-left0 pad-bottom5">
                                <div class="span5 text-right gap-top5">
                                </div>
                                <div class="span6 validation-summary-errors">
                                    @Model.Message
                                </div>
                            </div>
                        
                        <div class="span12 boxfoot">
                            <input type="submit" name="btnchangepassword" onclick="return encryptPassword()"
                                value="Submit" class="btn btn-info" />
                        </div>
                  </div>
             </div>
               
}
