@model MTSINHR.Models.AssetsMaster
@System.Web.Optimization.Scripts.Render("~/bundles/datatable")
<script src="~/Scripts/ValidationFunction.js"></script>


<script>
    var groupTable;
    var data;
    var TempId = 0;
    $(document).ready(function () {
        groupTable = $("#getasset").DataTable({
            "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
            "iDisplayLength": 5,
            "bFilter": true,
            "bProcessing": true,
            "ajax": {
                type: "GET",
                url: '@Url.Content("~/AssetsMaster/Read")',
                dataSrc: function (data) {
                    return JSON.parse(data);

                }
            },
            "aoColumns":
      [{ "mData": "Id", "sTitle": "ID", "sClass": "text-right", "sWidth": "80px" }
      //, { "mData": "Assetcode", "sTitle": "Asset Code", "sClass": "text-left" }
      , { "mData": "Asset_Name", "sTitle": "Category", "sClass": "text-left" }
      , { "mData": "Depreciation", "sTitle": "Depreciation %", "sClass": "text-center" }
       , { "mData": "Expectedlife", "sTitle": "Expected Useful Life", "sClass": "text-center" }
        , { "mData": "Salvagevalue", "sTitle": "Salvage Value", "sClass": "text-center" }
      , { "mData": "Id", "sTitle": "Edit", "sClass": "text-center", "sWidth": "1%", "orderable": true }
      ],
            "aoColumnDefs":
                [{
                    "aTargets": [5]
                    , "mRender": function (data, type, row) {
                        return '<span style="cursor:pointer;" onclick= editAsset($(this).closest("tr"))  class="fa fa-edit"></span>';
                    }
                }],
        });
        $("#Assetname").prop('disabled', true); 
        $("#AssettypeId").on("change", function () {
            $("#Assetname").prop('disabled', false);
        });
    });

    function AddEdit(actionurl, formid) {
        if (validationCall()) {
            $.ajax({
                type: 'POST',
                url: actionurl,
                data: {
                    Id:TempId,
                    Assetname: $("#Assetname").val(),
                    AssettypeId: $("#AssettypeId").val(),
                    AssetDepreciation: $("#Assetdepreciation").val(),
                    ExpectedLife: $("#Expectedlife").val().trim(),
                    SalvageValue: $("#Salvagevalue").val().trim()
                },
                success: function (response) {
                    if (parseInt(response.success) == 1) {
                        $('#asset').modal('hide');
                        groupTable.ajax.reload();
                        toastr.success("Successfully Added");
                    } else {
                        $('.field-validation-valid').text("Failed To Update, Already Exists");
                        $('.field-validation-valid').show();
                    }
                },
                error: function (a, b, c) {
                }
            })
            TempId = 0;
        }
    };

    function editAsset(curTr) {
        $("#Assetname").prop('disabled', false);
        data = groupTable.row(curTr).data();
        TempId = data.Id;
        $("#url").val('@Url.Content("~/AssetsMaster/Edit")');
        $('.field-validation-valid').text("");
        $("#Assetname").val(data.Assetname);
        $("#AssettypeId").val(data.AssettypeId);
        $("#Assetdepreciation").val(data.Depreciation);
        $("#Expectedlife").val(data.Expectedlife);
        $("#Salvagevalue").val(data.Salvagevalue);
        $("#actiontitle").text("Edit Asset");
        $("#asset").modal('show');
    };

    function addAsset() {
        $("#Assetname").prop('disabled', true);
        $("#AssettypeId").on("change", function () {
            $("#Assetname").prop('disabled', false);
        });
        $("#url").val('@Url.Content("~/AssetsMaster/Add")');
        $('.field-validation-valid').text("");
        $("#Assetname").val("");
        $("#AssettypeId").val("");
        $("#Assetdepreciation").val("");
        $("#Expectedlife").val("");
        $("#Salvagevalue").val("");
        $("#actiontitle").text("Add Asset");
        $("#asset").modal('show');
    };

    function validationCall() {
        
        $('.field-validation-valid').text("");
        $('.field-validation-valid').show();
        if ($('#AssettypeId').val() == null|| $('#AssettypeId').val() == '') {
            
            $("#AssettypeIdSpan").text("This field is required");

            return false;
        }

        if ($('#Assetname').val() == null || $('#Assetname').val() == '') {
           
            $("#AssetnameSpan").text("This field is required");
            return false;
        }

        if ($('#Assetdepreciation').val() == null || $('#Assetdepreciation').val() == '') {
           
            $("#AssetdepreciationSpan").text("This field is required");
            return false;
        }

        if ($('#Expectedlife').val() == null || $('#Expectedlife').val() == '') {
           
            $("#ExpectedlifeSpan").text("This field is required");
            return false;
        }

        if ($('#Salvagevalue').val() == null || $('#Salvagevalue').val() == '') {
           
            $("#SalvageValueSpan").text("This field is required");
            return false;
        }
    
            return true;
        }
    

</script>

<div class="card">
    <div class="card-header text-center ">
        Asset
    </div>
    <div class="card-body">
        <div>
            <div class="row">

                <div class="col-sm-12">
                    <div class="text-right ">
                        <button type="button" onclick="addAsset()" class="btn btn-primary btn-sm" id="create"><span class="fa fa-plus-circle"></span>&nbsp;&nbsp;Add</button>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row m-t-15">

                <div class="MTS_Table">
                    <table id="getasset" class="table table-bordered table-hover tabel-sm table-responsive" cellspacing="0" width="100%"></table>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="asset" data-backdrop="static" keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="actiontitle" class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form id="AssetList" autocomplete="off">
                    <input type="hidden" id="rowId" value="">
                    <input type="hidden" class="form-control" id="url" value="">                 
                    <div class="form-group">
                            <label>Asset Classification</label>
                            <select class="form-control" id="AssettypeId">
                                <span class="field-validation-valid" style="color: red; font: bold; display: none"></span>
                                @{
                                    foreach (var item in ViewBag.Asset)
                                    {

                                        <option value="@item.Value">

                                            @item.Text

                                        </option>
                                    }
                                }
                            </select>
                        <span id="AssettypeIdSpan" class="field-validation-valid" style="color: red; font: bold; display: none"></span>
                        </div>
                    <div class="form-group" >
                        <label>Category</label>
                        <select class="form-control" id="Assetname">
                            <span class="field-validation-valid" style="color: red; font: bold; display: none"></span>
                            @{
                                foreach (var item in ViewBag.Assetname)
                                {

                                    <option value="@item.Value">

                                        @item.Text

                                    </option>
                                }
                            }
                        </select>
                        <span id="AssetnameSpan" class="field-validation-valid" style="color: red; font: bold; display: none"></span>
                    </div>
                    @*<div class="col-md-4">
                        <div class="form-group">
                            <div class="editor-label ">
                                Category
                            </div>
                            <div class="editor-field">
                                <div style="width: 450px;">
                                    @Html.DropDownListFor(model => model.AssetName, new System.Web.Mvc.SelectList(ViewBag.Assetname, "Value", "Text"), new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.AssetName)
                                </div>
                            </div>
                        </div>
                    </div>*@                 
                    @*<div class="form-group">
                        <label>Category </label>
                        <input type="text" class="form-control" name="Assetname" id="Assetname" />
                        <span class="field-validation-valid" style="color: red; font: bold; display: none"></span>
                    </div>*@
                    <div class="form-group">
                        <label>Depreciation %</label>
                        <input type="text" class="form-control" name="Assetdepreciation" id="Assetdepreciation" data-val-regex-pattern="^[0-9]+[.]+[0-9]+$" />
                        <span id="AssetdepreciationSpan" class="field-validation-valid" style="color: red; font: bold; display: none"></span>
                    </div>
                    <div class="form-group">
                        <label>Expected Useful Life</label>
                        <input type="text" class="form-control" name="Expectedlife" id="Expectedlife" data-val-regex-pattern="^[0-9]+$" />
                        <span id="ExpectedlifeSpan" class="field-validation-valid" style="color: red; font: bold; display: none"></span>
                    </div>
                    <div class="form-group">
                        <label>Salvage Value</label>
                        <input type="text" class="form-control" name="SalvageValue" id="Salvagevalue" data-val-regex-pattern="^[0-9]+$" />
                        <span id="SalvageValueSpan" class="field-validation-valid" style="color: red; font: bold; display: none"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="dataurl">
                    <div>
                        <button type="button" id="save" class="btn btn-success" onclick="AddEdit($('#url').val(), 'AssetList')">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
