@model MTSINHR.Models.BankDetails
@{ 
    ViewBag.Title = "BankDetails";
}
@System.Web.Optimization.Scripts.Render("~/bundles/jquery")
@System.Web.Optimization.Styles.Render("~/bundles/bootstrapdt")
@System.Web.Optimization.Scripts.Render("~/bundles/datatable")
<script src="~/Scripts/ValidationFunction.js"></script>
<script>
 
    function employeelist() {
        var url = '@Url.Action("EmployeeList", "EmployeeList")';
        window.location.href = url;
    }
    function BankDetailsValidation() {
        $('.field-validation-valid').text("");
        $('.field-validation-valid').show();
        if ($('#Bankname').val() == null || $('#Bankname').val() == '') {
            $("#BanknameSpan").text("This field is required");
            return false;
        } else if ($('#Bankname').val() != null || $('#Bankname').val() != '') {
            var regx = /^[A-Za-z ]+$/;
            if (!regx.test($('#Bankname').val())) {
                    $("#BanknameSpan").text("Please use character only");
                    return false;
                }
        }
        if ($('#Branchname').val() == null || $('#Branchname').val() == '') {
            $("#BranchnameSpan").text("This field is required");
            return false;
        } else if ($('#Branchname').val() != null || $('#Branchname').val() != '') {
            var regx = /^[A-Za-z ]+$/;
            if (!regx.test($('#Branchname').val())) {
                $("#BranchnameSpan").text("Please use character only");
                return false;
            }
        }
        if ($('#Accountnumber').val() == null || $('#Accountnumber').val() == '') {
            $("#AccountnumberSpan").text("This field is required");
            return false;
        } else if ($('#Accountnumber').val() != null || $('#Accountnumber').val() != '') {
            var regx = /^[0-9, ]+$/;
            if (!regx.test($('#Accountnumber').val())) {
                $("#AccountnumberSpan").text("Please use number only");
                return false;
            }
        }
        if ($('#Ifsccode').val() == null || $('#Ifsccode').val() == '') {
            $("#IfsccodeSpan").text("This field is required");
            return false;
        } else if ($('#Ifsccode').val() != null || $('#Ifsccode').val() != '') {
            var regx = /^[a-zA-Z0-9, ]+$/;
            if (!regx.test($('#Ifsccode').val())) {
                $("#IfsccodeSpan").text("Please use character and number");
                return false;
            }
        }
        return true;
    }
    function add() {
        
        if (BankDetailsValidation()) {
            //if (checkForm('bankdetails')) {
            $.ajax({
                type: 'POST',
                url: '@Url.Content("~/BankDetails/AddEdit")',
                data: $("#bankdetails").serialize(),
                success: function (response) {
                    if (parseInt(response.success) == 1) {

                        //$("#errorspan").text("Succesfully Created")
                        //$("#errorspan").css({ 'color': 'green' });
                        //$("#errorspan").show();
                        toastr.success("Successfully Saved");
                        var url = '@Url.Action("EmployeeList", "EmployeeList")';
                        window.location.href = url;

                    } else {
                        $("#errorspan").text("Bank details Already Present")
                        $("#errorspan").css({ 'color': 'red' });
                        $("#errorspan").show();
                    }
                },
            });
            //}
            //else {
            //    $("#errorspan").text("Please fill the details")
            //    $("#errorspan").show()
            //}
        }
    }
    $(document).ready(function () {
        $("#Employee_Id").val('@ViewBag.empid')
        $("#Employee_Id").prop("readonly", true)
    });
</script>

<form id="bankdetails">

    <div class="row">
        <table id="getbankdetails" class="table table-bordered table-hover tabel-sm table-responsive" cellspacing="0" width="100%"></table>
        <input type="hidden" class="form-control" name="Flag" id="Flag" value="true" />
        <input type="hidden" class="form-control" name="Employee_Id" id="Employee_Id" required />
        <div class="col-md-6">
            <div class="form-group">
                <label>Bank Name</label>
                <input type="text" class="form-control" name="Bankname" id="Bankname" maxlength="20" data-val-regex-pattern="^[a-zA-Z, ]+$" required />
                <span id="BanknameSpan" class="field-validation-valid" style="color: red; font: bold; display: none"></span>
            </div>

            <div class="form-group">

                <label>Branch Name</label>
                <input type="text" class="form-control" name="Branchname" id="Branchname" maxlength="20" data-val-regex-pattern="^[a-zA-Z, ]+$" required />
                <span id="BranchnameSpan" class="field-validation-valid" style="color: red; font: bold; display: none"></span>

            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Account Number</label>
                <input type="text" class="form-control" name="Accountnumber" id="Accountnumber" maxlength="15" data-val-regex-pattern="^[0-9, ]+$" required />
                <span id="AccountnumberSpan" class="field-validation-valid" style="color: red; font: bold; display: none"></span>
            </div>


            <div class="form-group">
                <label>IFSC </label>
                <input type="text" class="form-control" name="Ifsccode" id="Ifsccode" maxlength="15" data-val-regex-pattern="^[a-zA-Z0-9, ]+$" required />
                <span id="IfsccodeSpan" class="field-validation-valid" style="color: red; font: bold; display: none"></span>
            </div>
        </div>
        <div class="col-md-12">
        <span id="errorspan" class="text-danger" style="display: none"></span>
            </div>
    </div>
  
</form>
  <div class="text-right">
        <button type="button" class="btn btn-light m-r-5" onclick="employeelist()">Close</button>
        <button type="button" class="btn btn-primary" onclick="add()">Save</button>
    </div>

