@model MTSINHR.Models.BankDetails
@{
    ViewBag.Title = "BankDetails";
}
@System.Web.Optimization.Scripts.Render("~/bundles/jquery")
@System.Web.Optimization.Styles.Render("~/bundles/bootstrapdt")
@System.Web.Optimization.Scripts.Render("~/bundles/datatable")
@System.Web.Optimization.Styles.Render("~/bundles/datepickercss")
@System.Web.Optimization.Scripts.Render("~/bundles/datepicker")
<script src="~/Scripts/ValidationFunction.js"></script>

<script src="~/Scripts/DataTables/dataTables.buttons.min.js"></script>
<script src="~/Scripts/DataTables/excel.min.js"></script>
<script src="~/Scripts/DataTables/buttons.html5.min.js"></script>
<script src="~/Scripts/daterangepicker.min.js"></script>
<link href="~/Content/DataTables/css/buttons.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/daterangepicker.css" rel="stylesheet" />
<script src="~/Scripts/DataTables/datatables.sorting.natural.js"></script>
<style>
    .optRadio input[type=radio] {
        position: absolute;
        visibility: hidden;
        display: none;
    }

    .optRadio label {
        color: #9a929e;
        display: inline-block;
        cursor: pointer;
        font-weight: 400;
        padding: 5px;
        margin: 0;
        width: 95px;
        text-align: center;
        font-size: 14px;
    }

    .optRadio input[type=radio]:checked + label {
        background-color: #1976d2;
        color: #fff;
    }

    .optRadio.radio-group {
        border: solid 1px #ddd;
        display: inline-block;
        margin: 0px;
        border-radius: 5px;
        overflow: hidden;
    }

    .editor-field{
        position:relative;
        left:80px;
    }
</style>
<div class="card">
    <div class="card-header">
        Bank Details
    </div>
    <div class="card-body">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 text-right m-b-15">
                <div class="row text-left card-columns">
                    <div class="col-md-4 text-right" style="position: relative;left: 92px;">
                        <label>Date Of Join</label>
                    </div>
                    <div class="col-md-3 text-right">
                        <div class="form-group">
                            <div class="editor-field">
                                @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control ", @data = "date-end-date='0d'", @placeholder = "From Date" })
                                @Html.ValidationMessageFor(m => m.FromDate)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="editor-field">
                                @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control ", @placeholder = "To Date" })
                                @Html.ValidationMessageFor(m => m.ToDate)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 text-right">
                        <button type="button" class="btn-primary btn-sm " id="Filterdata"><span class="fa fa-search"></span> Search </button>
                    </div>
                </div>

                <div class="radio-group optRadio tc">
                    <input type="radio" id="option-one" onclick="ActiveStatus('')" checked name="selector">
                    <label for="option-one">All</label>
                    <input type="radio" id="option-two" onclick="ActiveStatus('Active')" name="selector">
                    <label for="option-two">Active</label>
                    <input type="radio" id="option-three" onclick="ActiveStatus('InActive')" name="selector">
                    <label for="option-three">InActive</label>
                </div>
            </div>
            <div class="MTS_Table">
                <table id="getbankdetails" class="table table-bordered table-hover tabel-sm table-responsive" cellspacing="0" width="100%"></table>
            </div>
        </div>
    </div>
</div>

<script>
    var groupTable;
    var groupTableData;
    $(document).ready(function () {
        LoadDatatable();
        LoadHolidayTable();     
        DateRange();
        $('#Filterdata').on('click', function () {
           // var from = $('#FromDate').val();
           // var to = $('#ToDate').val();
            var StartDate = new Date($('#FromDate').val());
            var EndDate = new Date($('#ToDate').val());
            {
                $.ajax({
                    type: "POST",
                    data: {
                        StartDate: StartDate.toISOString()
                        , EndDate: EndDate.toISOString()
                    },
                    url: '@Url.Content("~/BankDetails/FilterBankdetails")',
                    success: function (data) {
                        groupTable.clear();
                        groupTable.rows.add(JSON.parse(data));
                        groupTable.draw();
                    },
                });
            }

        });
    });
    function DateRange() {
        var todayDate = new Date();
        var end = new Date().getDate();
        var yearrestrict = '@System.Configuration.ConfigurationManager.AppSettings["Year_restrict_count"]';
        $('#FromDate').datepicker({
            startDate: "-" + yearrestrict + "y",
            endDate: '+1m',

            autoclose: true
        }).on('changeDate', function () {

            $("#ToDate").val(this.value);
            $('#ToDate').datepicker('setStartDate', new Date($(this).val()));
        });

        $('#ToDate').datepicker({
            startDate: "-" + yearrestrict + "y",
            endDate: '+1m',

            autoclose: true
        }).on('changeDate', function () {

            $('#FromDate').datepicker('setEndDate', new Date($(this).val()));
        });
    }
    function LoadDatatable() {

        groupTable = $("#getbankdetails").DataTable({
            "dom": 'Bfrtip',
            buttons: [

        'excel',

            ],
            "data": "",
            "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
            "iDisplayLength": 10,
            "bFilter": true,
            "bProcessing": true,

            "aoColumns": [
                 { "mData": "id", "bVisible": false, "defaultContent": "<i>Not set</i>" }
               , { "mData": "Employee_Id", "bVisible": false, "sTitle": "Emp. Id", "sClass": "text-left", "defaultContent": "<i>Not set</i>" }
               , { "mData": "Name", "sTitle": "Employee Name", "sClass": "text-left", "defaultContent": "<i>Not set</i>" }
                , { "mData": "Accountnumber", "sTitle": "Account Number", "sClass": "text-left", "defaultContent": "<i>Not set</i>" }
                 , { "mData": "Ifsc", 'sType':'natural',"sTitle": "IFSC", "sClass": "text-left", "defaultContent": "<i>Not set</i>" }
               , { "mData": "Bankname", "sTitle": " Bank Name", "sClass": "text-left", "defaultContent": "<i>Not set</i>" }
               , { "mData": "Branchname", "sTitle": "Branch Name", "sClass": "text-left", "defaultContent": "<i>Not set</i>" }
               , { "mData": "Pancard", 'sType': 'natural', "sTitle": "PAN Card" }
                , { "mData": "ACTIVE", "sTitle": "Status", "sClass": "text-center" }//8
            ],
            "aoColumnDefs": [
              {
                  "aTargets": [8],
                  "mRender": function (row, type, data) {
                      if (row) {
                          return "<span class='badge badge-success badge-lg'>Active</span>"
                      }
                      else {
                          return "<span class='badge badge-danger badge-lg' style='width:85%' value='InActive'>InActive</span>"
                      }
                  }
              }
            ]

        });
    }

    function LoadHolidayTable() {
        $.ajax({

            type: "GET",
            url: '@Url.Content("~/BankDetails/Read")',
            success: function (data) {
                groupTableData = JSON.parse(data);
                groupTable.clear();
                groupTable.rows.add(JSON.parse(data));
                groupTable.draw();
            }

        });

    }

    function ActiveStatus(status) {
        
        if (status == "InActive") {
            var activeEmployees = groupTableData.filter(a=>a.ACTIVE == false);
            groupTable.clear();
            groupTable.rows.add(activeEmployees).draw();
        } else if (status == "Active") {
            var activeEmployees = groupTableData.filter(a=>a.ACTIVE == true);
            groupTable.clear();
            groupTable.rows.add(activeEmployees).draw();
        } else {
            groupTable.clear();
            groupTable.rows.add(groupTableData).draw();
        }
        //groupTable.search(status).draw();
        //groupTable.search('');

    }
</script>