@model MTS.LoginModels.EmailTemplate
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $("#Body").cleditor({ height: 180, width: 400, controls: "bold italic underline strikethrough" })
    });
    
</script>
@using (Html.BeginForm("/PostEmailTemplate", "EmailTemplate", FormMethod.Post, new { id = "TemplateForm" }))
{
    object css = new { @class = "required" };
    object disabledHtmlOptions = ViewBag.button != null ? new { disabled = "disabled" } : css;
    object disabledHtmlWithoutReq = ViewBag.button != null ? new { disabled = "disabled" } : null;
    
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
            <i class="icon-remove"></i>
        </button>
        @if (ViewBag.button == null)
        {
            <h3>
                Edit Email Template
            </h3>
        }
        else
        { 
            <h3>
                View Email Template
            </h3>
        }
    </div>
    <div class="modal-body" style="max-height: 455px;">
        <div class="row-fluid">
            <div class="span12 gap-bottom5 gap-left0">
                <div class="span3 gap-top5 text-right">
                    <b>Template Name &nbsp;&nbsp;</b>
                </div>
                <div class="span4">
                    @Model.TempName
                </div>
                <div class="span5">
                    &nbsp;
                </div>
            </div>
            <div class="span12 gap-bottom5 gap-left0">
                <div class="span3 gap-top5 text-right">
                    <b>To</b>
                </div>
                <div class="span4">
                    @Html.TextBoxFor(m => m.ToMail, disabledHtmlWithoutReq)
                </div>
                <div class="span5">
                    @Html.ValidationMessageFor(m => m.ToMail)
                </div>
            </div>
            <div class="span12 gap-bottom5 gap-left0">
                <div class="span3 gap-top5 text-right">
                    <b>Cc</b>
                </div>
                <div class="span4">
                    @Html.TextBoxFor(m => m.CcMail, disabledHtmlWithoutReq)
                </div>
                <div class="span5">
                    @Html.ValidationMessageFor(m => m.CcMail)
                </div>
            </div>
            <div class="span12 gap-bottom5 gap-left0">
                <div class="span3 gap-top5 text-right">
                    <b>Bcc</b>
                </div>
                <div class="span4">
                    @Html.TextBoxFor(m => m.BCcMail, disabledHtmlWithoutReq)
                </div>
                <div class="span5">
                    @Html.ValidationMessageFor(m => m.BCcMail)
                </div>
            </div>
            <div class="span12 gap-bottom5 gap-left0">
                <div class="span3 gap-top5 text-right">
                    <b>Subject</b>
                </div>
                <div class="span4">
                    @Html.TextBoxFor(m => m.Subjects, disabledHtmlOptions)
                </div>
                <div class="span5">
                    @Html.ValidationMessageFor(m => m.Subjects)
                </div>
            </div>
            <div class="span12 gap-bottom5 gap-left0">
                <div class="span3 gap-top5 text-right">
                    <b>Active</b>
                </div>
                <div class="span4">
                    @Html.CheckBoxFor(m => m.Active, disabledHtmlWithoutReq)
                </div>
                <div class="span5">
                    &nbsp;
                </div>
            </div>
            <div class="row-fluid">
                <div class="span3 padtp5 txt_rite">
                    <b>Body &nbsp;&nbsp;</b>
                </div>
                <div class="span9 ht220">
                    @Html.ValidationMessageFor(m => m.Body)
                    @Html.TextAreaFor(m => m.Body, 0, 0, disabledHtmlOptions)
                </div>
            </div>
        </div>
    </div>
    
    
    
    
   
    <div class="modal-footer clear">
        @if (ViewBag.button == null)
        {
            <input type="submit" onclick="return Validation();" name="btn" value="Save" class="btn btn-info" />
        }
        <a href="#" class="btn btn-info" data-dismiss="modal">Close</a></div> 
    @Html.HiddenFor(m => m.TempId)
}
<script type="text/javascript">
    function Validation() {
        var validation = $('#TemplateForm').valid('#TemplateForm');
        return validation;
    }
    $('#TemplateForm').submit(function () {
        $.ajax({
            url: '@Url.Content("~/MTS.Login/EmailTemplate/PostEmailTemplate")',
            type: 'POST',
            data: $('#TemplateForm').serialize(),
            success: function (data) {
                alertMsg = data;
                $('#divmainpopup').modal('hide');
                GetData();
            },
            cache: false
        });
        return false;
    });
</script>
