@model MTS.LoginModels.SmtpDetails 
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@using (Html.BeginForm("AddData", "SmtpDetails", FormMethod.Post, new { id = "SmtpDetails" }))
{    
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
            <i class="icon-remove"></i>
        </button>
        <h3>
            Add SMTP Details</h3>
    </div>
    <div class="modal-body" style="max-height: 450px;">
        <div class="row-fluid">
            <div class="span12 gap-bottom5">
                <div class="span3 gap-top5 text-right">
                    <b>SMTP Name <span class="requi">*</span></b>
                </div>
                <div class="span4">
                    @Html.TextBoxFor(m => m.smtpname, new { @class = "required" })
                </div>
                <div class="span5">@Html.ValidationMessageFor(m => m.smtpname)</div>
            </div>
            <div class="span12 gap-bottom5 gap-left0">
                <div class="span3 gap-top5 text-right">
                    <b>SMTP Host Name <span class="requi">*</span></b>
                </div>
                <div class="span4">
                    @Html.TextBoxFor(m => m.SmtpHostName)
                </div>
                <div class="span5">
                    @Html.ValidationMessageFor(m => m.SmtpHostName)
                </div>
            </div>
            <div class="span12 gap-bottom5 gap-left0">
                <div class="span3 gap-top5 text-right">
                    <b>SMTP Port <span class="requi">*</span></b>
                </div>
                <div class="span4">
                    @Html.TextBoxFor(m => m.SmtpPort)
                </div>
                <div class="span5">
                    @Html.ValidationMessageFor(m => m.SmtpPort)</div>
            </div>
            <div class="span12 gap-bottom5 gap-left0">
                <div class="span3 gap-top5 text-right">
                    <b>User Name <span class="requi">*</span></b>
                </div>
                <div class="span4">
                    @Html.TextBoxFor(m => m.username)
                </div>
                <div class="span5">
                    @Html.ValidationMessageFor(m => m.username)</div>
            </div>
            <div class="span12 gap-bottom5 gap-left0">
                <div class="span3 gap-top5 text-right">
                    <b>Domain &nbsp;&nbsp;</b>
                </div>
                <div class="span4">
                    @Html.TextBoxFor(m => m.Domain)
                </div>
                <div class="span5">
                    @Html.ValidationMessageFor(m => m.Domain)</div>
            </div>
            <div class="span12 gap-bottom5 gap-left0">
                <div class="span3 gap-top5 text-right">
                    <b>Time Out <span class="requi">*</span></b>
                </div>
                <div class="span4">
                    @Html.TextBoxFor(m => m.TimeOut)
                </div>
                <div class="span5">
                    @Html.ValidationMessageFor(m => m.TimeOut)</div>
            </div>
            <div class="span12 gap-bottom5 gap-left0">
                <div class="span3 gap-top5 text-right">
                    <b>Delivery Method <span class="requi">*</span></b>
                </div>
                <div class="span4">
                    @Html.TextBoxFor(m => m.DeliveryMethod)
                </div>
                <div class="span5">
                    @Html.ValidationMessageFor(m => m.DeliveryMethod)</div>
            </div>
            <div class="span12 gap-bottom5 gap-left0">
                <div class="span3 gap-top5 text-right">
                    <b>Password <span class="requi">*</span></b>
                </div>
                <div class="span4">
                    @Html.TextBoxFor(m => m.Password, new { @class = "required", @type = "Password", @name = "Password" })
                </div>
                <div class="span5">
                    @Html.ValidationMessageFor(m => m.Password)</div>
            </div>
            <div class="span12 gap-bottom5 gap-left0">
                <div class="span3 gap-top5 text-right">
                    <b>Confirm Password <span class="requi">*</span></b>
                </div>
                <div class="span4">
                    @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "required", @type = "password", @name = "ConfirmPassword" })
                </div>
                <div class="span5">
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)</div>
            </div>
            <div class="span12 gap-bottom5 gap-left0">
                <div class="span3 gap-top5 text-right">
                    <b>Enable SSL &nbsp;&nbsp;</b>
                </div>
                <div class="span4">
                    @Html.CheckBoxFor(m => m.EnableSSL)
                </div>
            </div>
            <div class="span12 gap-bottom5 gap-left0">
                <div class="span3 gap-top5 text-right">
                    <b>Default Credentials &nbsp;&nbsp;</b>
                </div>
                <div class="span4">
                    @Html.CheckBoxFor(m => m.DefaultCredentials)
                </div>
            </div>
        </div>
    </div> 
    <div class="modal-footer clear">
        <input type="submit" name="btn" id="submitBtn" value="Add" onclick="return Validation()"
            class="btn btn-info" />
        <a href="#" class="btn btn-info" data-dismiss="modal">Close</a>
    </div>
    @Html.HiddenFor(m => m.SmtpID)  
}
<script type="text/javascript">
    function Validation() {
        var validation = $('#SmtpDetails').valid('#SmtpDetails');
        return validation;
    }
    $('#SmtpDetails').submit(function () {
        $.ajax({
            url: '@Url.Content("~/SmtpDetails/AddData")',
            type: 'POST',
            data: $('#SmtpDetails').serialize(),
            success: function (data) {
                alertMsg = data;
                $('#divmainpopup').modal('hide');
                GetData();
            },
            cache: false
        });
        return false;
    });
</script>
