@model MTS.LoginModels.GridModel
@using System.Data;
@using System.Threading;
@using MTS.Helpers;

<script language="javascript" type="text/javascript">

    $(document).ready(function () {
        oTable = InitializeGrid($('#myDataTable'));
        TableDataSelect($("#myDataTable tbody"), $("#extValue"), $("#HSmtpID"), oButtons);
    });      

</script>

<table id="myDataTable" class="table table-striped table-bordered bootstrap-datatable datatable"
    style="width: 100% !important;">
    <thead>
        <tr>
            <th align="center">
                SMTP Name
            </th>
            <th align="center">
                SMTP Client Host
            </th>
            <th align="center">
                SMTP Client Port
            </th>
            <th align="center">
                User Name
            </th>
            <th align="center">
                Domain
            </th>
            <th align="center">
                Enable SSL
            </th>
            <th align="center">
                Time Out
            </th>
            <th align="center">
                SMTP Delivery Method
            </th>
            <th align="center">
                Use Default Credentails
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (DataRow row in Model.Data.AsEnumerable())
        {                 
            <tr id=@row[0].ToString()>
                <td class="txt_left">@row[1].ToString()
                </td>
                <td class="txt_left">@row[2].ToString()
                </td>
                <td class="txt_center">@row[3].ToString()
                </td>
                <td class="txt_left">@row[4].ToString()
                </td>
                <td class="txt_left">@row[5].ToString()
                </td>
                <td class="txt_center">@row[6].ToString()
                </td>
                <td class="txt_center">@row[7].ToString()
                </td>
                <td class="txt_center">@row[8].ToString()
                </td>
                <td class="txt_center">@row[9].ToString()
                </td>
            </tr>
        }
    </tbody>
</table>
