@{

    ViewBag.Title = "Read_Employeedetails";

}
<style>
    .reset {
        height: 28px;
        line-height: 0.5px;
    }
</style>
@System.Web.Optimization.Styles.Render("~/bundles/datepickercss")
@System.Web.Optimization.Scripts.Render("~/bundles/datepicker")
<link href="~/Scripts/jQuery-File-Upload-9.19.2/css/jquery.fileupload.css" rel="stylesheet" />
<link href="~/Scripts/noty/noty.css" rel="stylesheet" />
<script src="~/Scripts/jQuery-File-Upload-9.19.2/js/vendor/jquery.ui.widget.js"></script>
<script src="~/Scripts/jQuery-File-Upload-9.19.2/js/load-image.all.min.js"></script>
<script src="~/Scripts/jQuery-File-Upload-9.19.2/js/canvas-to-blob.js"></script>
<script src="~/Scripts/jQuery-File-Upload-9.19.2/js/jquery.iframe-transport.js"></script>
<script src="~/Scripts/jQuery-File-Upload-9.19.2/js/jquery.fileupload.js"></script>
<script src="~/Scripts/jQuery-File-Upload-9.19.2/js/jquery.fileupload-process.js"></script>
<script src="~/Scripts/jQuery-File-Upload-9.19.2/js/jquery.fileupload-image.js"></script>
<script src="~/Scripts/jQuery-File-Upload-9.19.2/js/jquery.fileupload-audio.js"></script>
<script src="~/Scripts/jQuery-File-Upload-9.19.2/js/jquery.fileupload-video.js"></script>
<script src="~/Scripts/jQuery-File-Upload-9.19.2/js/jquery.fileupload-validate.js"></script>
<script src="~/Scripts/bootbox.min.js"></script>
<script src="~/Scripts/ValidationFunction.js"></script>
<link href="~/Content/css/select2.min.css" rel="stylesheet" />
<script src="~/Scripts/select2.min.js"></script>
<script>
    var LeavebalanceData=[];
    var LeaveTypeData=[];
    var deptID;
    var maxLimit=0;
    $(document).ready(function () {
        $('#addLeavePolicyNew').hide();
        $('#addLeavePolicy').hide();
        $('.resetnewcls' ).val(0);
       

        $.ajax({
            type:'get',
            url:'@Url.Content("~/LeaveType/Read")',                       // get leave type details 
            success:function(data){
                 LeaveTypeData=JSON.parse(data);
            }
        });
     


        $('.resetcls , .resetnewcls' ).on('input', function () {
      
            $('.field-validation-valid').text('');
            $('.field-validation-valid').show();
            if($(this).val()>maxLimit)
            {
                $('<span class="field-validation-valid">'+maxLimit+' is the maximum limit based on the selected leave type...!</span>').css('color','red').insertAfter(this);
            }
            $(this).val(Math.max(Math.min($(this).val(), maxLimit), -(maxLimit)));                        // maxLimit is the maximum input limit       
                         
        });



        $('#leavetypenew').on('change',function(e){
         
            $('.field-validation-valid').text('');
            $('.field-validation-valid').show();
            $('.resetnewcls').val(0);
            $.each(LeaveTypeData,function(i){
                if(LeaveTypeData[i].LEAVE_TYPE==e.added.text && LeaveTypeData[i].DepartmentId==deptID ){
                    maxLimit = LeaveTypeData[i].Numberofdays;
                }
            });
        });
        //$('.resetcls' ).on('input', function () {
        //    $(this).val(Math.max(Math.min($(this).val(), 50), -50));                        // 50 is the maximum input limit
        //});
      
        var EmployeeData = '@Html.Raw(ViewBag.EmployeeData)';
        EmployeeData = JSON.parse(EmployeeData);
        var activeState = EmployeeData.Table[0].Active;
        $('.datepickerclass').datepicker({
            changeMonth: true,
            changeYear: true,
            autoclose: true,
            todayHighlight: true,
            endDate: '+0d',
            format: 'dd/M/yyyy',
        });
        var FinalLang = "";
        //var monthlimit = "-" + monthcount + "m";
        if (activeState == true) {

            $("#activate").prop("checked", true)
        }
        else {
            $("#activate").prop("checked", false)
            $("#resigned").show();
            $("#activate").prop("disabled", true)
        }

        for (var i = 0; i < EmployeeData.Table1.length; i++) {
            FinalLang += EmployeeData.Table1[i].Languagename1 + ", ";
        }
        FinalLang = FinalLang.slice(0, -2);

        var FinalSkill = "";
        for (var i = 0; i < EmployeeData.Table2.length; i++) {
            FinalSkill += EmployeeData.Table2[i].Skills + ", ";
        }
        FinalSkill = FinalSkill.slice(0, -2);

        $("#Employeeid").text(EmployeeData.Table[0].Employee_Id).text;
        $("#Firstname").text(EmployeeData.Table[0].Firstname).text;
        $("#Lastname").text(EmployeeData.Table[0].Lastname).text;
        $("#Designation").text(EmployeeData.Table[0].Designation).text;
    
        deptID=EmployeeData.Table[0].DepartmentId;
      
        $("#Department").text(EmployeeData.Table[0].Department).text;
        //var d = EmployeeData.Table[0].Department;
        //if (EmployeeData.Table[0].Department == "1") {
        //    $("#Department").text("Information Technology").text;
        //}
        //else {
        //    $("#Department").text("Business process outsourcing").text;
        //}

        $("#Skills").text(FinalSkill).text;
        $("#Certification").text(EmployeeData.Table[0].Certificationname).text;
        $("#resignedon").text(formatDate(new Date(EmployeeData.Table[0].ResignedOn))).text;
        $("#Joineddate").text(formatDate(new Date(EmployeeData.Table[0].Dateofjoin))).text;

        $("#Aadhar").text(EmployeeData.Table[0].Aadhar).text;
        $("#Pancard").text(EmployeeData.Table[0].Pancard).text;
        $("#Qualification").text(EmployeeData.Table[0].Qualification).text;
        $("#KnownLanguages").text(FinalLang).text;
        $("#Address_Line1").text(EmployeeData.Table[0].CurrentBuilding_Plot).text;
        $("#Line2").text(EmployeeData.Table[0].CurrentCity).text;
        $("#State").text(EmployeeData.Table[0].CurrentState).text;
        $("#Pincode").text(EmployeeData.Table[0].CurrentPincode).text;
        $("#permanent_address").text(EmployeeData.Table[0].PermanentBuilding_Plot).text;
        $("#permanentLine1").text(EmployeeData.Table[0].PermanentCity).text;
        $("#permanentstate").text(EmployeeData.Table[0].PermanentState).text;
        $("#permanentpincode").text(EmployeeData.Table[0].PermanentPincode).text;
        $("#Fathername").text(EmployeeData.Table[0].Fathername).text;
        $("#Spousename").text(EmployeeData.Table[0].Spousename).text;
        $("#Marital_Status").text(EmployeeData.Table[0].Marital_status).text;
        $("#Mobile").text(EmployeeData.Table[0].Mobile).text;
        $("#FatherMobile").text(EmployeeData.Table[0].FatherMobile).text;
        $("#DateofBirth").text(formatDate(new Date(EmployeeData.Table[0].Dateofbirth))).text;
        $("#Officialmail").text(EmployeeData.Table[0].Email).text;
        $("#PersonalMailId").text(EmployeeData.Table[0].PersonalMail).text;
        $("#AlternateMobile").text(EmployeeData.Table[0].Employee_Alternate_Mobile).text;
        $("#EmergencyContactName").text(EmployeeData.Table[0].Emergency_ContactName).text;
        $("#EmergencycontactNumber").text(EmployeeData.Table[0].Emergency_ContactNumber).text;
        $("#ContactRelationship").text(EmployeeData.Table[0].ContactRelationship).text;
        $("#Age").text(EmployeeData.Table[0].Employee_Age).text;
        $("#Bloodgroup").text(EmployeeData.Table[0].BloodGroup).text;
        $("#Nationality").text(EmployeeData.Table[0].Nationality).text;
        $("#BankName").text(EmployeeData.Table[0].Bankname).text;
        $("#BranchName").text(EmployeeData.Table[0].Branchname).text;
        $("#AccountNumber").text(EmployeeData.Table[0].Accountnumber).text;
        $("#Ifsc").text(EmployeeData.Table[0].Ifsc).text;
        $("#rowid").text(EmployeeData.Table[0].id).text;
        var s = EmployeeData.Table[0].Gender;
        if (EmployeeData.Table[0].Gender == "0") {
            $("#Gender").text("Male").text;

        }
        else if (EmployeeData.Table[0].Gender == "1") {
            $("#Gender").text("Female").text;
        }
        else {
            $("#Gender").text("Other").text;
        }
        $("#employeeUploadProfileImage").prop('disabled', true);


        function formatDate(date) {
            var monthNames = [
              "Jan", "Feb", "Mar",
              "Apr", "May", "Jun", "Jul",
              "Aug", "Sep", "Oct",
              "Nov", "Dec"
            ];

            var day = date.getDate();
            var monthIndex = date.getMonth();
            var year = date.getFullYear();

            return day + '/' + monthNames[monthIndex] + '/' + year;
        }


        var empid = $('#rowid').text();
        uploadButton = $('<button/>')
       .addClass('btn btn-primary')
       .prop('disabled', true)
       .text('Processing...')
       .on('click', function () {
           var $this = $(this),
               data = $this.data();
           $this
               .off('click')
               .text('Abort')
               .on('click', function () {
                   $this.remove();
                   data.abort();
               });
           data.submit().always(function () {
               $this.remove();
           });
       });
        $('#fileupload').fileupload({

            type: 'POST',
            url: '@Url.Content("~/Image/EmployeeImage?")' + "empid=" + empid,

            autoUpload: false,
            acceptFileTypes: /(\.|\/)(jpg|jpeg|png)$/i,
            maxFileSize: 2097152,
            previewMaxWidth: 100,
            previewMaxHeight: 100,

        }).off('fileuploadadd').on('fileuploadadd', function (e, data) {
            $("#files").empty();
            data.context = $('<div/>').appendTo('#files');
            $.each(data.files, function (index, file) {
                var node = $('<p/>')
                        .append($('<span/>').text(file.name));
                if (!index) {
                    node
                        .append('<br>')
                        .append(uploadButton.clone(true).data(data));
                }
                node.appendTo(data.context);
            });

        }).off('fileuploadprocessalways').on('fileuploadprocessalways', function (e, data) {
            var index = data.index,
                file = data.files[index],
                node = $(data.context.children()[index]);
            if (file.preview) {
                node
                    .prepend('<br>')
                    .prepend(file.preview);
            }
            if (file.error) {
                node
                    .append('<br>')
                    .append($('<span class="text-danger"/>').text(file.error));
            }
            if (index + 1 === data.files.length) {
                data.context.find('button')
                    .text('Upload Profile Photo')
                    .prop('disabled', !!data.files.error);
            }
        }).off('fileuploadprogressall').on('fileuploadprogressall', function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#progress .progress-bar').css(
                'width',
                progress + '%'
            );
        }).off('fileuploaddone').on('fileuploaddone', function (e, data) {

            window.location.reload();
            $("html, body").animate({ scrollTop: 0 }, "fast");

        }).off('fileuploadfail').on('fileuploadfail', function (e, data) {
            $.each(data.files, function (index) {
                var error = $('<span class="text-danger"/>').text('File upload failed.');
                $(data.context.children()[index])
                    .append('<br>')
                    .append(error);
            });
        }).prop('disabled', !$.support.fileInput)
        .parent().addClass($.support.fileInput ? undefined : 'disabled');


        $('#activate').change(function () {
            $("#activate").prop("checked", true);
            $("#inactiveid").modal('show');
            $('.field-validation-valid').hide();
            var activestatus;
            var rowid = $("#rowid").text();
            if ($(this).is(":checked")) {
                activestatus = 1;

            }
            else {
                activestatus = 0;
            }
        });
        LoadLeavePolicy();
        ReadLeavePolicy();
        $('#leavetypenew').select2({ "width": "100%" ,"placeholder":"---Select Leave Type---"});
    });

    function Inactive()
    {
        var rowid = $("#rowid").text();
        var activestatus = 0;
        var inActiveDate = $(".datepickerclass").val()
        if (inActiveDate == "")
        {
            $('.field-validation-valid').text("Please select the date");
            $('.field-validation-valid').show();
        }
        else {

            $.ajax({
                type: 'POST',
                url: '@Url.Content("~/Employee/SetActive")',

                data:
                    {
                        id: rowid,
                        active: activestatus,
                        inActiveDate: inActiveDate
                    },

                success: function (result) {

                    if (result == 1) {
                        toastr.success("User Activated Successfully");
                        setTimeout(function () {
                            window.location.href = '@Url.Action("EmployeeList", "EmployeeList")'
                        }, 1000);


                    }
                    else if (result == 0) {
                        toastr.success("User De-Activated Successfully");
                        setTimeout(function () {
                            window.location.href = '@Url.Action("EmployeeList", "EmployeeList")'
                        }, 1000);

                    }
                    else {
                        toastr.error("Failed");
                    }

                }
            });
        }
    }
    function back() {
        //bootbox.confirm("Are you sure?", function (result) {
        //  if (result == true) {

        $("#inactiveid").modal('hide');

    }



    function Edit() {

        $("#check").hide();
        var empid = $("#Employeeid").text();
        $.ajax({
            type: 'POST',
            url: '@Url.Content("~/Employee/SetEmployeeid")',
            data:
                {
                    id: empid
                },
            success: function (result) {

                if (result == "success") {
                    window.location.href = '@Url.Action("Employee", "Employee")';
                }
            }

        });

    }
    function show(input) {
        if (input.files && input.files[0]) {
            var filerdr = new FileReader();
            filerdr.onload = function (e) {
                $('#profile_image').attr('src', e.target.result);
                $("#employeeUploadProfileImage").prop('disabled', false);
            }
            filerdr.readAsDataURL(input.files[0]);

        }
        $("#employeeUploadProfileImage").prop('disabled', true);
    }

    function EditBankdetails() {

        var id = $("#rowid").text();

        $("#Employee_Id").val(id);
        $("#Bank_Name").val($("#BankName").text());
        $("#Branch_Name").val($("#BranchName").text());
        $("#Account_Number").val($("#AccountNumber").text());
        $("#Ifsc_Code").val($("#Ifsc").text());
        $("#EditaBankdetails").modal('show');
        $('.field-validation-valid').hide();
    }

    function UpdateBankdetails(formName) {

        if (checkForm(formName)) {
            $.ajax({
                type: 'POST',
                url: '@Url.Content("~/BankDetails/AddEdit")',
                async: false,
                data:
                    {
                        Employee_Id: $("#Employee_Id").val(),
                        BankName: $("#Bank_Name").val(),
                        Branchname: $("#Branch_Name").val(),
                        Accountnumber: $("#Account_Number").val(),
                        Ifsccode: $("#Ifsc_Code").val()
                    },
                success: function (response) {
                    if (parseInt(response.success) == 2) {
                        $("#EditaBankdetails").modal('hide');
                        location.reload(true);
                        $("#check").show();
                    } else if (parseInt(response.success) == 1) {
                        $("#EditaBankdetails").modal('hide');
                        location.reload(true);
                        $("#check").show();
                    }
                    else {
                        $('#errorSpan').text("Failed To Update");
                        $('#errorSpan').show();
                    }
                },
                error: function (a, b, c) {
                }
            });
        }
    }

    function ConfirmReset() {
        bootbox.confirm("Are you sure to reset password?", function (result) {
            if (result == true) {
                ResetPassword();
            }

        });
    }
    function ResetPassword() {
        var userid = $("#rowid").text();
        var FirstName = $("#Firstname").text();
        var lastName = $("#Lastname").text();
        var EmailId = $("#Officialmail").text();

        $.ajax({
            type: 'POST',
            url: '@Url.Content("~/Employee/ResetEmployeePassword")',
            data:
                {
                    id: userid,
                    Firstname: FirstName,
                    Lastname: lastName,
                    Email: EmailId

                },
            success: function (result) {

                if (result == '-1') {

                    toastr.success("Password Reset Successfull");

                }
                else  {

                    toastr.error("Password Reset Failed");
                }

            }

        });

    }
    $(document).ready(function () {
        $('#rolevalue').click(function (event) {
            $('#roledropdown').slideToggle("fast");
            event.stopPropagation();
        });

        $(document).click(function () {
            $('#roledropdown').slideUp("fast");
        });
        $('#dropdownProfile').click(function () {
            $('#roledropdown').slideUp("fast");
        });
    });
    function ConfirmEditRole(RoleId) {
        bootbox.confirm("Are you sure to change role?", function (result) {
            if (result == true && @Session["RoleId"].ToString()=='1') {
                $.ajax({
                    type: 'GET',
                    url: '@Url.Content("~/Employee/EditRole")',
                    data:
                        {
                            'RoleId':RoleId
                        },
                    success : function(data)
                    {
                        if(parseInt(data)>0){
                            location.reload();
                        }else{
                            toastr.error("Failed");
                        }
                    }
                });
            }else if(result == true){
                bootbox.alert("Only Admin can able to change the role");
            }
        });
    }

    function backToEmployeeList() {

        bootbox.confirm("Are you sure?", function (result) {

            if (result == true) {

                window.location.href = '@Url.Action("EmployeeList", "EmployeeList")';
            }
        });
    }
    function ReadLeavePolicy()
    {
        $.ajax({
            type:'get',
            url:'@Url.Content("~/EmployeeLeaveList/ReadLeavePolicy")',
            data:{deptID:deptID},
            success:function(data)
            {
                LeavebalanceData=JSON.parse(data);
            }
        });
    }
    function LoadLeavePolicy() {
        if ($.fn.DataTable.isDataTable('#ReadLeaveBalance')) {
            $('#ReadLeaveBalance').dataTable().fnDestroy();
        }
        var data = {
            empid : $('#rowid').text()
        }

        leavePolicytable = $("#ReadLeaveBalance").DataTable({
            "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
            "iDisplayLength": 5,
            "bFilter": true,
            "bProcessing": true,
            "ajax": {
                type: "GET",
                url: '@Url.Content("~/EmployeeLeaveList/ReadEmployeeLeaveBalance")',
                data:
                       {
                           'employeeid':$('#rowid').text()
                       },
                dataSrc: function (data) {
                    //  LeavebalanceData=JSON.parse(data);
                    return JSON.parse(data);
                }
            },
            "aoColumns": [
            { "mData": "ID", "sTitle": "ID", "sClass": "text-center", "sWidth": "2%", "bVisible": false }  //0
                , { "mData": "LEAVE_TYPE", "sTitle": "Leave Type", "sClass": "text-center" }  //1
                , { "mData": "LEAVE_CODE", "sTitle": "Leave Code", "sClass": "text-center", "bVisible": false }  //2
                , { "mData": "LeaveTypeId", "sTitle": "Leave Type Id", "sClass": "text-center", "bVisible": false}  //3
                , { "mData": "LeaveCredited", "sTitle": "Leave Credit", "sClass": "text-center"}  //4
                , { "mData": "AdvanceCredit", "sTitle": "Advance Credit", "sClass": "text-center"}  //5
                , { "mData": "NumberofdaysLeaveTaken", "sTitle": "Leave Taken", "sClass": "text-center"}  //6
                , { "mData": "AdvanceAvailed", "sTitle": "Advance Availed", "sClass": "text-center"}  //7
                , { "mData": "AvailableLeave", "sTitle": "Available Leave", "sClass": "text-center"}  //8


                , { "mData": "ID", "sTitle": "Edit", "sClass": "text-center", "sWidth": "2%", "orderable": false }  //9
                , { "mData": "Employee_Id", "sTitle": "Employee_Id", "sClass": "text-center", "bVisible": false}  //10
                , { "mData": "EmployeeName", "sTitle": "EmployeeName", "sClass": "text-center", "bVisible": false }  //11




            ],
            "aoColumnDefs": [
            //    {
            //    "aTargets": [4]
            //        , "mRender": function (data, type, row) {
            //            var result = (data == 1) ? 'Male' : (data == 2) ? 'Female' : (data == 3) ? 'Both' : 'N/A';
            //            return result;
            //        }
            //},
            {
                "aTargets": [8]
                    , "mRender": function (data, type, row) {
                        //var result = (data == 1) ? 'Single' : (data == 2) ? 'Married' : (data == 3) ? 'Both' : 'N/A';
                        if(data >= 0)
                            return data;
                        else
                            return 0;
                    }
            },
                {
                    "aTargets": [9]
                    , "mRender": function (data, type, row) {
                        return '<span style="cursor: pointer !important;" onclick=editPolicy($(this).closest("tr")) class="fa fa-edit"></span>';
                    }
                }]

        });
    }
    function addPolicy(){
       
        $('#addLeavePolicyNew').show();
        var title="---Select Leave Type---";
        $('#leavetypenew').append('<option value="0">' + title  + '');
        $.each(LeavebalanceData,function(i,value){
            $('#leavetypenew').append('<option value="' + LeavebalanceData[i].id + '">' + LeavebalanceData[i].LEAVE_TYPE  + '');

        });
        //$.each(LeaveTypeData,function(i){
        //    if(LeaveTypeData[i].LEAVE_TYPE==data.LEAVE_TYPE && LeaveTypeData[i].DepartmentId==deptID ){
        //        maxLimit = LeaveTypeData[i].Numberofdays;
        //    }
        //});
        $('#leavetypenew').select2({ "placeholder":"---Select Leave Type---"});
        $('#readPolicyCard').hide();
        $('#addLeavePolicy').hide();
        $('#actionBtns').hide();
        $('#empDetails').hide();

    }
    function editPolicy(curTr) {
  
       
    var data = leavePolicytable.row(curTr).data();
  
    $.each(LeaveTypeData,function(i){
        if(LeaveTypeData[i].LEAVE_TYPE==data.LEAVE_TYPE && LeaveTypeData[i].DepartmentId==deptID ){
            maxLimit = LeaveTypeData[i].Numberofdays;
        }
    });
    $('#readPolicyCard').hide();
    $('#addLeavePolicy').show();
    $('#addLeavePolicyNew').hide();
    $('#empDetails').hide();
    $('#title').text('Edit');
    $('#updatebtn').show();

    id = data.ID;
    $('#leavetype').val(data.LEAVE_TYPE);
    $('#leavetype').prop('disabled', true);
    $('#leaveCode').val(data.LEAVE_CODE);
    $('#leaveCode').prop('disabled', true);
    $('#Leavebalance').val(data.NumberofdaysLeaveTaken);
    $('#Leavebalance').prop('disabled', true);
    if(data.AvailableLeave > 0)
    {
        $('#Availableleave').val(data.AvailableLeave);
    }
    else
    {
        $('#Availableleave').val(0);
    }
    // $('#Availableleave').val(data.AvailableLeave);
    $('#Availableleave').prop('disabled', true);
    $('#AdvanceCredit').val(data.AdvanceCredit);
    $('#AdvanceAvailed').val(data.AdvanceAvailed);
    $('#AdvanceAvailed').prop('disabled', true);
    }
    function keydownNumberOnly(e) {

        if ((e.keyCode == 8 || e.keyCode == 46 || e.keyCode == 190) || (e.keyCode >= 48 && e.keyCode <= 57)) {
            return true;
        }
        else {
            return false;
        }
    }
    function closeAddLeave() {
        $('#leavetypenew').empty();
        $('.field-validation-valid').text('');
        $('.resetnewcls').val(0);
        //   $('.resetcls').select2('val',0);
        $('#leavetypenew').select2('val',0);
        $('#addLeavePolicyNew').hide();
        $('#addLeavePolicy').hide();
        $('#readPolicyCard').show();
        $('#empDetails').show();
        $('#actionBtns').show();
    }
    function AddNewPolicy(){

        $('.field-validation-valid').text('');
        $('.field-validation-valid').show();
        if($('#leavetypenew').val()=='0'){
            $('#Errorleavetypenew').text("This field is required...!");
        }
        if($('.field-validation-valid').text()!='')
        {
            return false;
        }
        if($('#AdvanceCredit').val() >= $('#AdvanceAvailed').val()) {
        $.ajax({
            type: "POST",
            url: '@Url.Content("~/EmployeeLeaveList/AddAdvanceCreditLeave")',
            data: { EmpId:$('#rowid').text() ,Availableleave:$('#Availableleavenew').val() ,AdvanceCredit:$('#AdvanceCreditnew').val() ,AdvanceAvailed:$('#AdvanceAvailednew').val() ,leavetype: $('#leavetypenew').val()  },
            success: function (response) {
                if (parseInt(response.success) == 1) {
                    LoadLeavePolicy();
                    $('#empDetails').show();
                    $('#addLeavePolicyNew').hide();
                    $('#leavetypenew').empty();
                    $('#readPolicyCard').show();
                    toastr.success("successfully Added");
                }
                else {
                    //   toastr.warning("Failed to Add");

                    toastr.warning("This leave type is already exist");
                }
            }
        });
        } else {
            toastr.warning("Advance availed is greater than Advance credit");
        }

    }
    function UpdatePolicy() {

        //if (ValidationCall()) {
        //var adjust = ($('#adjustLeave').val()).join();
        if($('#AdvanceCredit').val() >= $('#AdvanceAvailed').val()) {
            var data = {
                Id: id,
                MaxAllowBal: $('#AdvanceCredit').val().trim(),
                ConsecutiveLeave: $('#AdvanceAvailed').val().trim(),
            }

            $.ajax({
                type: "POST",
                url: '@Url.Content("~/EmployeeLeaveList/UpdateAdvanceCreditAndAvailed")',
                async: false,
                contentType: "application/json",
                dataType: "json",
                data:
                    JSON.stringify({ leavePolicy: data }),
                success: function (response) {
                    if (parseInt(response.success) == 1) {
                        LoadLeavePolicy();
                        $('#empDetails').show();
                        $('#addLeavePolicy').hide();
                        $('#readPolicyCard').show();
                        toastr.success("Updated successfully");
                    }
                    else {
                        toastr.warning("Failed to update");
                    }
                }
            });
        } else {
            toastr.warning("Advance availed is greater than Advance credit");
        }
       
        //}

    }

</script>
<div class="row" id="actionBtns">

        <div class="col-md-12">

            <div id="rolevalue" style="display:inline-block;float:right;" class="text-right dropdown m-l-10">

                <button type="button" class="btn btn-primary btn-sm dropdown reset" style="min-width: 140px;"><span><i class="fa fa-user m-r-10" style="cursor:pointer;"></i>@Session["Role"]<i class="fa fa-pencil m-l-10"></i></span></button>

                <div id="roledropdown" class="role-dropdown dropdown-menu" aria-labelledby="dropdownMenuLink">

                    <a class="dropdown-item" style="cursor:pointer" onclick="ConfirmEditRole(1)"> <span> Admin </span></a>

                    <a class="dropdown-item" style="cursor:pointer" onclick="ConfirmEditRole(2)"> <span>Employee</span></a>

                    <a class="dropdown-item" style="cursor:pointer" onclick="ConfirmEditRole(3)"> <span>Manager</span></a>

                    <a class="dropdown-item" style="cursor:pointer" onclick="ConfirmEditRole(4)"> <span>HR</span></a>
                </div>              
            </div>


        <div style="display:inline-block;float:right" class="text-right m-l-10">

            <div class="tg-list ">
                <div class="tg-list-item">
                    <input class="tgl tgl-flip" id="activate" type="checkbox" /> 
                    
                     <label class="tgl-btn" data-tg-off="InActive" data-tg-on="Active" for="activate">
                    </label>
                </div>
            </div>

        </div>
        <div>
            <div class="text-right m-r-80">
                <button type="button" class="reset btn btn-primary" onclick="ConfirmReset()">Reset Password</button>
            </div>
        </div>

    </div>
</div>

<div class="employeedetails" id="empDetails">

    <div class="card">
        <div class="card-header">
            <div class="content-body">Employee Details</div>
            @* <div class="text-right">
                    <button type="button" class="reset btn btn-primary" onclick="ResetPassword()">Reset</button>
                </div>*@
        </div>
        <div class="card-body p0">
            <div class="p20 m-b-10">
                <div class="shadow">
                    <div class="row">
                        <div class="col-9">
                            <h6 class="mt-1 mb-1 text-primary">Primary</h6>
                        </div>
                        <div class="col-3">
                            <a href="javascript:void(0)" onclick="Edit()" class="p-1 pull-right text-dark rounded bg-warning fz13"><i class="fa fa-edit"></i>&nbsp;Edit</a>
                        </div>
                    </div>
                    <hr class="my-1" />
                    <div class="row m-t-15">
                        <div class="col-md-2" style="text-align: center;">
                            <img id="profile_image" src='data:image/png;base64,@ViewBag.Image' alt="mtsin.com" class="img-polaroid img-thumbnail rounded img-fluid">
                        </div>
                        <div class="col-md-10">
                            <div class="row">
                                <div class="col-md-5">
                                    <div>
                                        <label id="rowid" style="display: none"></label>
                                        <label class="fz13">Employee Id :</label>
                                        <label class="text-danger fz13 font-weight-bold" id="Employeeid"></label>
                                    </div>
                                    <div>
                                        <label class="fz13">First Name :</label>
                                        <label class="control-label col-xs-12 iceLabel fz13 font-weight-bold" id="Firstname"></label>
                                    </div>
                                    <div>
                                        <label class="fz13">Last Name :</label>
                                        <label class="control-label col-xs-12 iceLabel fz13 font-weight-bold" id="Lastname"></label>
                                    </div>
                                    <div>
                                        <label class="fz13">Employee Mobile :</label>
                                        <label class="control-label col-xs-12 iceLabel fz13 font-weight-bold" id="Mobile"></label>
                                    </div>
                                    <div>
                                        <label class="fz13">Official Mail :</label>
                                        <label class="control-label col-xs-12 iceLabel fz13 font-weight-bold" id="Officialmail"></label>
                                    </div>
                                    <div>
                                        <label class="fz13">Designation :</label>
                                        <label class="control-label col-xs-12 iceLabel fz13 font-weight-bold" id="Designation"></label>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div>
                                        <label class="fz13">Department :</label>
                                        <label class="control-label col-xs-12 iceLabel fz13 font-weight-bold" id="Department"></label>
                                    </div>
                                    <div>
                                        <label class="fz13">Skills :</label>
                                        <label class="control-label col-xs-12 iceLabel fz13 font-weight-bold" id="Skills"></label>
                                    </div>
                                    <div>
                                        <label class="fz13">Certification :</label>
                                        <label class="control-label col-xs-12 iceLabel fz13 font-weight-bold" id="Certification"></label>
                                    </div>
                                    <div id="resigned" style="display: none">
                                        <label class="fz13">Resigned On :</label>
                                        <label class="control-label col-xs-12 iceLabel fz13 font-weight-bold" id="resignedon"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p20 p-t-0 m-b-10">
                <div class="shadow">
                    <div class="row">
                        <div class="col-12">
                            <h6 class="mt-1 mb-1 text-primary">Personal</h6>
                        </div>
                    </div>
                    <hr class="my-1" />
                    <div class="row m-t-15">
                        <div class="col-12 col-md-3 col-lg-3">
                            <label class="fz13">Father Name :</label>
                            <label class="control-label col-xs-12 iceLabel fz13 font-weight-bold" id="Fathername"></label>
                        </div>

                        <div class="col-12 col-md-3 col-lg-3">
                            <label class="fz13">Gender :</label>
                            <label class="control-label col-xs-12 iceLabel fz13 font-weight-bold" id="Gender"></label>
                        </div>

                        <div class="col-12 col-md-3 col-lg-3">
                            <label class="fz13">Marital Status :</label>
                            <label class="control-label col-xs-12 iceLabel fz13 font-weight-bold" id="Marital_Status"></label>
                        </div>
                        <div class="col-12 col-md-3 col-lg-3">
                            <label class="fz13">Spouse Name :</label>
                            <label class="control-label col-xs-12 iceLabel fz13 font-weight-bold" id="Spousename"></label>
                        </div>
                        <div class="col-12 col-md-3 col-lg-3">
                            <label class="fz13">Date of Join :</label>
                            <label class="control-label col-xs-12 iceLabel fz13 font-weight-bold" id="Joineddate"></label>
                        </div>
                        <div class="col-12 col-md-3 col-lg-3">
                            <label class="fz13">Aadhar :</label>
                            <label class="control-label col-xs-12 iceLabel fz13 font-weight-bold" id="Aadhar"></label>
                        </div>

                        <div class="col-12 col-md-3 col-lg-3">
                            <label class="fz13">Pancard :</label>
                            <label class="control-label col-xs-12 iceLabel fz13 font-weight-bold" id="Pancard"></label>
                        </div>
                        <div class="col-12 col-md-3 col-lg-3">
                            <label class="fz13">Nationality :</label>
                            <label class="control-label col-xs-12 iceLabel fz13 font-weight-bold" id="Nationality"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p20 p-t-0 m-b-10">
                <div class="shadow">
                    <div class="row">
                        <div class="col-12">
                            <h6 class="mt-1 mb-1 text-primary">Contact</h6>
                        </div>
                    </div>
                    <hr class="my-1" />
                    <div class="row m-t-15">
                        <div class="col-12 col-md-4 col-lg-4">
                            <label class="fz13">Emergency Contact Name :</label>
                            <label class="control-label col-xs-12 iceLabel fz13 font-weight-bold" id="EmergencyContactName"></label>
                        </div>
                        <div class="col-12 col-md-4 col-lg-4">
                            <label class="fz13">Emergency Contact Number :</label>
                            <label class="control-label col-xs-12 iceLabel fz13 font-weight-bold" id="EmergencycontactNumber"></label>
                        </div>
                        <div class="col-12 col-md-4 col-lg-4">
                            <label class="fz13">Relationship :</label>
                            <label class="control-label col-xs-12 iceLabel fz13 font-weight-bold" id="ContactRelationship"></label>
                        </div>
                        <div class="col-12 col-md-3 col-lg-4">
                            <label class="fz13">Alternate Mobile :</label>
                            <label class="control-label col-xs-12 iceLabel fz13 font-weight-bold" id="AlternateMobile"></label>
                        </div>
                        <div class="col-12 col-md-3 col-lg-4">
                            <label class="fz13">Personal Email :</label>
                            <label class="control-label col-xs-12 iceLabel fz13 font-weight-bold" id="PersonalMailId"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p20 p-t-0 m-b-10">
                <div class="shadow">
                    <div class="row">
                        <div class="col-12">
                            <h6 class="mt-1 mb-1 text-primary">Employee</h6>
                        </div>
                    </div>
                    <hr class="my-1" />
                    <div class="row m-t-15">
                        <div class="col-12 col-md-3 col-lg-3">
                            <label class="fz13">Date of Birth :</label>
                            <label class="control-label col-xs-12 iceLabel" style="font-size: 13px; font-weight: bold;" id="DateofBirth"></label>
                        </div>
                        <div class="col-12 col-md-3 col-lg-3">
                            <label class="fz13">Age :</label>
                            <label class="control-label col-xs-12 iceLabel" style="font-size: 13px; font-weight: bold;" id="Age"></label>
                        </div>
                        <div class="col-12 col-md-3 col-lg-3">
                            <label style="font-size: 13px">Blood Group : </label>
                            <label class="control-label col-xs-12 iceLabel" style="font-size: 13px; font-weight: bold;" id="Bloodgroup"></label>
                        </div>
                        <div class="col-12 col-md-3 col-lg-3">
                            <label class="fz13">Qualification : </label>
                            <label class="control-label col-xs-12 iceLabel fz13 font-weight-bold" id="Qualification"></label>
                        </div>
                        <div class="col-12 col-md-12" style="font-size: 16px;">
                            <label class="control-label col-xs-12" style="font-size: 13px;">Known Languages :</label>
                            <label class="control-label col-xs-12 iceLabel" style="font-size: 13px; font-weight: bold;" id="KnownLanguages"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p20 p-t-0 m-b-10">
                <div class="shadow">
                    <div class="row">
                        <div class="col-12">
                            <h6 class="mt-1 mb-1 text-primary">Edit Employee Advance Credit Leave</h6>
                        </div>
                    </div>
                    <hr class="my-1" />
                    <div class="col-lg-12 m-t-15">
                            <div class="text-right m-b-10">
                                <button type="button" style="position: relative;right: 15px;" onclick="addPolicy()" class="btn btn-primary btn-sm" id="create"><span class="fa fa-plus-circle"></span>&nbsp;&nbsp;Add</button>
                            </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="MTS_Table">
                        <table id="ReadLeaveBalance" class="table table-bordered table-hover tabel-sm table-responsive bg-th-blue" cellspacing="0" style="width:100%"></table>
                    </div>
                </div>
            </div>
        </div>
        <div class="p20 p-t-0 m-b-10">
            <div class="shadow">
                <div class="row">
                    <div class="col-12">
                        <h6 class="mt-1 mb-1 text-primary">Address</h6>
                    </div>
                </div>
                <hr class="my-1" />
                <div class="row m-t-10">
                    <div class="col-12 col-sm-6 col-lg-6">
                        <div class="col-12">
                            <b class="font-weight-normal text-success text-uppercase">Current</b>
                            <hr class="my-1" />
                        </div>
                        <div class="col-12">
                            <label class="fz13">Building/Plot/No/Street : </label>
                            <label class="control-label col-xs-12 iceLabel fz13 font-weight-bold" id="Address_Line1"></label>
                        </div>
                        <div class="col-12">
                            <label class="fz13">City : </label>
                            <label class="control-label col-xs-12 iceLabel fz13 font-weight-bold" id="Line2"></label>
                        </div>
                        <div class="col-12">
                            <label class="fz13">State :</label>
                            <label class="control-label col-xs-12 iceLabel fz13 font-weight-bold" id="State"></label>
                        </div>
                        <div class="col-12">
                            <label class="fz13">Pincode :</label>
                            <label class="control-label col-xs-12 iceLabel fz13 font-weight-bold" id="Pincode"></label>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-6">
                        <div class="col-12">
                            <b class="font-weight-normal text-success text-uppercase">Permanent</b>
                            <hr class="my-1" />
                        </div>
                        <div class="col-12">
                            <label class="fz13">Building/Plot/No/Street : </label>
                            <label class="control-label col-xs-12 iceLabel fz13 font-weight-bold" id="permanent_address"></label>
                        </div>
                        <div class="col-12">
                            <label class="fz13">City :</label>
                            <label class="control-label col-xs-12 iceLabel fz13 font-weight-bold" id="permanentLine1"></label>
                        </div>
                        <div class="col-12">
                            <label class="fz13">State :</label>
                            <label class="control-label col-xs-12 iceLabel fz13 font-weight-bold" id="permanentstate"></label>
                        </div>
                        <div class="col-12">
                            <label class="fz13">Pincode:</label>
                            <label class="control-label col-xs-12 iceLabel fz13 font-weight-bold" id="permanentpincode"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="p20 p-t-0 m-b-10">
            <div class="shadow">
                <div class="row">
                    <div class="col-9">
                        <h6 class="mt-1 mb-1 text-primary">Bank Account</h6>
                    </div>
                    <div class="col-3">
                        <a href="javascript:void(0)" onclick="EditBankdetails()" class="p-1 pull-right text-dark rounded bg-warning fz13"><i class="fa fa-edit"></i>&nbsp;Edit</a>
                    </div>
                </div>
                <hr class="my-1" />
                <div class="row m-t-15">
                    <div class="col-12 col-md-6 col-lg-6">
                        <label class="fz13">Bank Name :</label>
                        <label class="control-label col-xs-12 iceLabel fz13 font-weight-bold" id="BankName"></label>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6">
                        <label class="fz13">Branch Name :</label>
                        <label class="control-label col-xs-12 iceLabel fz13 font-weight-bold" id="BranchName"></label>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6">
                        <label class="fz13">Account Number :</label>
                        <label class="control-label col-xs-12 iceLabel fz13 font-weight-bold" id="AccountNumber"></label>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6">
                        <label class="fz13">IFSC Code :</label>
                        <label class="control-label col-xs-12 iceLabel fz13 font-weight-bold" id="Ifsc"></label>
                    </div>
                </div>
            </div>
        </div>
        <div class="p20 p-t-0 m-b-10">
            <div class="shadow">
                <div class="row">
                    <div class="col-12">
                        <h6 class="mt-1 mb-1 text-primary">Employee Image</h6>
                    </div>
                </div>
                <hr class="my-1" />
                <div class="row m-t-10">

                        <div class="col-12">
                            <div id="progress" class="progress">
                                <div class="progress-bar progress-bar-success"></div>
                            </div>
                            <div id="files" class="files"></div>

                            <div class="row">
                                <div class="col-12">

                                    <form enctype="multipart/form-data" method="post" name="file" id="fileinfo">

                                        <h5>Upload profile image</h5>

                                        <span class="btn btn-success fileinput-button">
                                            <i class="fa fa-plus"></i>
                                            <span>Select Image</span>
                                            <input id="fileupload" type="file" name="files[]" onchange="show(this)" accept=".jpg,.jpeg,.png" />&nbsp;&nbsp;&nbsp;
                                        </span>


                                    </form>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <div class="p20 p-t-0 m-b-10">
                <div class="row">
                    <div class="col-12 text-right">
                        <button type="button" onclick="backToEmployeeList()" class="btn btn-light" id="cancel">Close</button>
                    </div>
                </div>                
            </div>            
        </div>
    </div>
</div>

<div class="card p-b-15" id="addLeavePolicy">
    <div class="card-header">
        <span id="title"></span> Leave policy
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-4 form-group">
                <label>Leave type</label>
                <input type="text" class="form-control requir" id="leavetype"/>
            </div>
            <div class="col-lg-4 form-group">
                <label>Leave code</label>
                <input type="text" class="form-control requir" id="leaveCode" />
            </div>
            <div class="col-lg-4 form-group">
                <label>Leave Taken</label>
                <input type="text" class="form-control requir" id="Leavebalance" />
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 form-group">
                <label>Available Leave</label>
                <input type="text" class="form-control requir" id="Availableleave" />
            </div>
            <div class="col-lg-4 form-group">
                <label>Advance Credit</label>
                <input type="number" min="0" class="form-control requir  resetcls" id="AdvanceCredit" />
            </div>
            <div class="col-lg-4 form-group">
                <label>Advance Availed</label>
                <input type="number" min="0" class="form-control requir resetcls" id="AdvanceAvailed" />
            </div>
        </div>

        <div class="pull-right p-t-15 p-b-10 p-r-10">
            <button type="button" class="btn btn-light m-r-5" onclick="closeAddLeave()">Close</button>
            <button type="button" class="btn btn-primary" id="updatebtn" onclick="UpdatePolicy()">Update</button>
        </div>
    </div>
</div>



<div class="card p-b-15" id="addLeavePolicyNew">
    <div class="card-header">
        <span id="title"></span> Leave policy
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-6 form-group">
                <label>Leave type</label>
                <select type="text" class="form-control   requir" id="leavetypenew" placeholder="---Select Leave Type---">
                    @*<option value="0">---Select Leave Type---</option>*@
                </select>
                <span class="field-validation-valid" id="Errorleavetypenew" style="color:red;font: bold; display: none"></span>
            </div>
            <div class="col-lg-6 form-group">
                <label>Available Leave</label>
                <input type="text" onkeydown="return keydownNumberOnly(event);" class="form-control requir resetnewcls" id="Availableleavenew" />
            </div>
           
        </div>

        <div class="row">
            <div class="col-lg-6 form-group">
                <label>Advance Credit</label>
                <input type="number" min="0" class="form-control requir resetnewcls" id="AdvanceCreditnew" />
            </div>
            <div class="col-lg-6 form-group">
                <label>Advance Availed</label>
                <input type="number" min="0" class="form-control requir resetnewcls" id="AdvanceAvailednew" />
            </div>
           
        </div>

        <div class="pull-right p-t-15 p-b-10 p-r-10">
            <button type="button" class="btn btn-light m-r-5" onclick="closeAddLeave()">Close</button>
            <button type="button" class="btn btn-primary" id="savenew" onclick="AddNewPolicy()">Add</button>
        </div>
    </div>
</div>

<div class="modal fade" id="EditaBankdetails" data-backdrop="static" keyboard="false">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit BankDetails</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

            </div>
            <div class="modal-body">
                <form id="editbank">
                    <input type="hidden" class="form-control" id="Employee_Id" readonly value="">
                    <div class="form-group">
                        <label>Bank Name</label>
                        <input class="form-control" data-val="true" data-val-regex-pattern="^([a-zA-Z ]+)$" id="Bank_Name" name="Bank_Name" type="text" value="" />
                    </div>

                    <div class="form-group">
                        <label>Branch Name</label>
                        <input class="form-control" data-val="true" data-val-regex-pattern="^([a-zA-Z ]+)$" name="Branch_Name" id="Branch_Name" type="text" value="" />

                    </div>
                    <div class="form-group">
                        <label>Account Number</label>
                        <input class="form-control" data-val-regex-pattern="^([0-9]+)$" id="Account_Number" name="Account_Number" maxlength="15" type="text" value="" />

                    </div>
                    <div class="form-group">
                        <label>IFSC Code</label>
                        <input class="form-control" data-val-regex-pattern="^([0-9 a-zA-Z]+)$" id="Ifsc_Code" name="Ifsc_Code" maxlength="15" type="text" value="" />
                    </div>
                    <div><span id="errorSpan" class="field-validation-valid" style="color: red; font: bold; display: none"></span></div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="UpdateBankdetails('editbank')">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="inactiveid" data-backdrop="static" keyboard="false" >
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">              
                <h4 id="actiontitle"title="Inactive the user" class="modal-title">Inactive</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form id="inactiveid">
                    <input type="hidden" id="rowId" value="">
                    <input type="hidden" class="form-control" id="url" value="">
                    <div class="form-group">
                            <label>Select the Date To Inactive User</label>
                            <input type="text" name="Inactive" id="inactiveid"  class="datepickerclass form-control"   />
                        <span class="field-validation-valid" style="color: red; font: bold; display: none"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="dataurl">
                    <div>                                         
                        <button type="button" id="No" class="btn btn-secondary" onclick="back()">No</button>
                        <button type="button" id="Yes" class="btn btn-success" onclick="Inactive()">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


