@model MTSINHR.Models.Message
@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">*@
@{
    Layout = "~/Views/Shared/Layout_New.cshtml";
}

@System.Web.Optimization.Styles.Render("~/bundles/bootstrapdt")
@System.Web.Optimization.Styles.Render("~/bundles/datepickercss")
<script src="~/Scripts/wysihtml5-0.0.3/advanced.js"></script>
<script src="~/Scripts/wysihtml5-0.0.3/wysihtml-toolbar.js"></script>
<script src="~/Scripts/widgets.js"></script>
<link href="~/Content/css/bxslider-4.2.1/jquery.bxslider.css" rel="stylesheet" />
<script src="~/Scripts/bxslider-4.2.1/jquery.bxslider.js"></script>

<style>
            .xc-editor {
    outline: 0;
    padding: 5px;
}
        .xc-editor-toolbar {
    background: rgba(245, 245, 245, 0.85);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    outline: 0;
}
.fas,
.far,
.fal,
.fad,
.fab {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}
        .xc-editor-toolbar > .xc-toolbar-btn.wysihtml5-command-active {
    background-color: #87cfde;
}
        .xc-h-250 {
    height: 250px;
}
        .xc-editor-toolbar > .xc-toolbar-btn {
    color: #000000;
    width: 29px;
    height: 29px;
    border: none;
    cursor: pointer;
    text-align: center;
    line-height: 29px;
    float: left;
    background: none;
    outline: 0;
}
    .avatar {
            vertical-align: middle;
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }

    .avatar-flip {
            vertical-align: middle;
            width: 165px;
            height: 165px;
            border-radius: 50%;
        }

    .nav-link.active {
        background-color: lightsteelblue !important;
    
    }
    .tab-pane {
    margin-bottom:30px;
    align-content:stretch;
    
    
    }

    .carousel-caption{
        top: 7%;
    }

    .carousel-inner img {
        width: 100%;
        height: 350px;
    }

      .scrollable {
          overflow-y: auto;
       
      }

      .flip-card {
          background-color: transparent;
          /*width: 300px;
    height: 300px;*/
          width: 165px;
          height: 165px;
          position: relative;
          perspective: 1000px;
      }

      .flip-card-inner {
          position: relative;
          width: 100%;
          height: 100%;
          text-align: center;
          transition: transform 0.6s;
          transform-style: preserve-3d;
          /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
      }

      .flip-card:hover .flip-card-inner {
          transform: rotateY(180deg);
      }

      .flip-card-front, .flip-card-back {
          position: absolute;
          width: 100%;
          height: 100%;
          backface-visibility: hidden;
      }

      .flip-card-front {
          background-color: transparent;
          /*color: black;*/
      }

      .flip-card-back {
          background: url(@Url.Content("~/Images/logo-inner.png")) center no-repeat;
          color: white;
          padding-top: 15%;
          width: 100%;
          height: 100%;
          transform: rotateY(180deg);
      }
  
      .no-scroll{
      height:calc(100vh - 185px);
        }

</style>
    <style>
    .height445 {
        height: 445px !important;
    }

    .height498 {
    height: 498px;
}
</style>

<style>
    .requir{
        border-left : 2px solid red !important;
    }

    .error {
        color:red;
    }

    .textboxtemp {
        box-sizing: border-box;
        height: auto;
         border-radius: 50px;
    }

    .textboxtemp-username {
        text-align: left;
        padding-left: 10px;
        padding-top: 8px;
        height: 33px;
        border-bottom: groove;
        margin-right: 10px;
        font-family: 'IBM Plex Sans',sans-serif;
    }

    .textboxtemp-head {
        text-align: left;
        padding-left: 15px;
        vertical-align: bottom;
        height: 40px;
        font-size: 2em;
        font-style: inherit;
        font-family: 'IBM Plex Sans',sans-serif;
    }

    .textboxtemp-body {
        text-align: justify;
        padding-top: 10px;
        padding-left: 30px;
        /*padding-left: 150px;*/
        /*padding-right: 150px;*/
        padding-bottom: 15px;
        min-height: 50px;
        font-family: 'IBM Plex Sans',sans-serif;
    }

    .textboxtemp-foot {
        text-align: right;
        padding-bottom: 5px;
        padding-right: 10px;
        font-family: 'IBM Plex Sans',sans-serif;
        border-top: groove;
        margin-left: 100px;
        background-position-y: bottom;
    }
    .anouncement_tap {
    margin-bottom:0px!important;align-items:center;align-content:space-around
    }

    .textboxtemp-announcements {
    text-align: left;
    padding-left: 10px;
    padding-top: 8px;
    height: 46px;
    border-bottom: groove;
    /* margin-right: 10px; */
    /* font-family: 'IBM Plex Sans',sans-serif; */
}
    
       /*.card-body {
    padding: 20px;
}*/

.card-header {
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #333;   
    text-align:left; 
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
	border-bottom:0;
	padding:20px;
	background-color:transparent;
	border-radius:0;
}

    .less-view {
        border: 1px solid #eee;
        padding: 10px;
        border-radius: 5px;
    }

    .more-view {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        padding: 10px;
        background-color: #fff;
        border-radius: 8px;
    }

    .new-joiner {
        margin: 0;
        box-shadow: none;
        border: 0px;
    }

        .new-joiner .bx-pager {
            padding: 0;
        }

            .new-joiner .bx-pager.bx-default-pager a {
                width: 8px;
                height: 8px;
                margin: 0 3px;
            }

        .new-joiner .bx-pager {
            bottom: -13px;
        }

            .new-joiner .bx-pager.bx-default-pager a:hover, .new-joiner .bx-pager.bx-default-pager a.active, .new-joiner .bx-pager.bx-default-pager a:focus {
                background-color: #118cf1;
                background-image: -webkit-gradient(linear, left top, left bottom, from(#1ad0fc), to(#118cf1));
            }
    .hover-card:hover {
        box-shadow: 0 0.5px 0 0 #ffffff inset, 0 1px 2px 0 #d5d5d5;
    }

    .birthday-card {
        height: 146px;
        background: url(@Url.Content("~/Images/birthday_v1.jpg")) center center no-repeat;
        background-size: cover;
        border-radius: 8px;
    }
        .birthday-card  .name {
            position: absolute;
            line-height: 31px;
            color: #fff;
            margin: 0;
            left: 0;
            font-style: italic;
            font-size: 18px;
            top: 40%;
            right: 0;
            font-weight: 600;
            margin-top: -31px;
        }
        .bx-birthday{
                max-width: 100%;
                position: absolute;
                top: 30%;
                border: 0;
                background: none;
                box-shadow: none;
        }
        .bx-birthday .bx-pager {
            padding: 0;
             bottom:-25px;
        }


        .bx-birthday >.bx-viewport{
          /* height:30px !important;*/
        }

        .bx-birthday .bx-pager.bx-default-pager a:hover, .bx-birthday .bx-pager.bx-default-pager a.active, .bx-birthday .bx-pager.bx-default-pager a:focus {
                background-color: #118cf1;
                background-image: -webkit-gradient(linear, left top, left bottom, from(#1ad0fc), to(#118cf1));
          }
         .bx-birthday .bx-pager.bx-default-pager a {
                width: 8px;
                height: 8px;
                margin: 0 3px;
         }
        .m-b-2{
        margin-bottom:2px;
        }


    </style>

<html>
<body>
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6">
                    <div class="card m-b-15">
                        <div class="card-header">
                            Announcements
                            <a class="fz12 pull-right showAnnouncements" href="#" onclick="addMessages()">Add Announcements</a>
                        </div>
                        <div class="card-body p-t-0-imp" style="height:290px;overflow-y:auto;" id="Announcements">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card m-b-15">
                        <div class="card-header" style="padding-bottom:18px;">
                            <div>
                                <div class="pull-left">
                                    <div class="pull-left">Attendance log</div>
                                </div>
                                <div class="pull-right">
                                    <i class="fa fa-info-circle p-r-10 clr-99" data-toggle="popover" data-placement="left" data-html="true" data-content="Based on Bio-metric data" data-original-title="" title="" id="attendanceInfo"></i>
                                </div>
                            </div>
                            @*<div class="pull-right m-t-15">
                                <div class="btn-group btn-toggle">
                                        <button class="btn btn-sm" id="btnCurMonth">Current month</button>
                                        <button class="btn btn-sm" id="btnPrevMonth">Previous month(s)</button>
                                    </div>
                            </div>*@
                        </div>
                        <div class="card-body p-t-0" style="height:290px;overflow-y:auto;">
                            <div class="pull-right m-b-20">
                                <p class="m-b-0 pull-left fz14 m-r-5" id="btnCurMonth">Current month</p>
                                <div class="tg-list pull-left">
                                    <div class="tg-list-item">
                                        <input class="tgl tgl-light" id="attendanceOption" type="checkbox">
                                        <label class="tgl-btn" for="attendanceOption"></label>
                                    </div>
                                </div>
                                <p class="m-b-0 pull-left fz14 m-l-5" id="btnPrevMonth">Previous month(s)</p>
                            </div>
                            <div class="clearfix"></div>

                            <div class="currentMonth">
                                <div class="clearfix">
                                    <p class="m-b-0 pull-left fz12">Yesterday</p>
                                    <p class="m-b-0 pull-right fz12"><span class="fz-w-600 fz14" id="prevDayAttWorked"></span><span class="fz-w-600 fz14" id="prevDayAttActual"></span></p>
                                </div>
                                <div class="progress" style="height:5px;">
                                    <div class="progress-bar" id="prevDayPBar" style="height:5px;"></div>
                                </div>
                            </div>
                            <hr class="currentMonth" />
                            <div class="currentMonth">
                                <div class="clearfix">
                                    <p class="m-b-0 pull-left fz12">This week</p>
                                    <p class="m-b-0 pull-right fz12"><span class="fz-w-600 fz14" id="curWeekAttWorked"></span><span class="fz-w-600 fz14" id="curWeekAttActual"></span></p>
                                </div>
                                <div class="progress" style="height:5px;">
                                    <div class="progress-bar" id="curWeekPBar" style="height:5px;"></div>
                                </div>
                            </div>
                            <hr class="currentMonth" />
                            <div class="currentMonth">
                                <div class="clearfix">
                                    <p class="m-b-0 pull-left fz12" id="curMonth"></p>
                                    <span class="p-l-10 pull-left fz12" id="lastDateInfo"></span>
                                    <p class="m-b-0 pull-right fz12"><span class="fz-w-600 fz14" id="curMonthAttWorked"></span><span class="fz-w-600 fz14" id="curMonthAttActual"></span></p>
                                    <a class="fz12 p-r-20 pull-right" href="#" id="PNcurMonth" onclick="pageNavigation('curMonth')">View more</a>
                                </div>
                                <div class="progress" style="height:5px;">
                                    <div class="progress-bar" id="curMonthPBar" style="height:5px;"></div>
                                </div>
                            </div>

                            <div class="perivousMonth">
                                <div class="clearfix">
                                    <p class="m-b-0 pull-left fz12" id="monthOne"></p>
                                    <p class="m-b-0 pull-right fz12"><span class="fz-w-600 fz14" id="prevMonthOneAttWorked"></span><span class="fz-w-600 fz14" id="prevMonthOneAttActual"></span></p>
                                    <a class="fz12 p-r-20 pull-right" href="#" id="PNmonthOne" onclick="pageNavigation('monthOne')">View more</a>
                                </div>
                                <div class="progress" style="height:5px;">
                                    <div class="progress-bar" id="prevMonthOnePBar" style="height:5px;"></div>
                                </div>
                            </div>
                            <hr class="perivousMonth" />
                            <div class="perivousMonth">
                                <div class="clearfix">
                                    <p class="m-b-0 pull-left fz12" id="monthTwo"></p>
                                    <p class="m-b-0 pull-right fz12"><span class="fz-w-600 fz14" id="prevMonthTwoAttWorked"></span><span class="fz-w-600 fz14" id="prevMonthTwoAttActual"></span></p>
                                    <a class="fz12 p-r-20 pull-right" href="#" id="PNmonthTwo" onclick="pageNavigation('monthTwo')">View more</a>
                                </div>
                                <div class="progress" style="height:5px;">
                                    <div class="progress-bar" id="prevMonthTwoPBar" style="height:5px;"></div>
                                </div>
                            </div>
                            <hr class="perivousMonth" />
                            <div class="perivousMonth">
                                <div class="clearfix">
                                    <p class="m-b-0 pull-left fz12" id="monthThree"></p>
                                    <p class="m-b-0 pull-right fz12"><span class="fz-w-600 fz14" id="prevMonthThreeAttWorked"></span><span class="fz-w-600 fz14" id="prevMonthThreeAttActual"></span></p>
                                    <a class="fz12 p-r-20 pull-right" href="#" id="PNmonthThree" onclick="pageNavigation('monthThree')">View more</a>
                                </div>
                                <div class="progress" style="height:5px;">
                                    <div class="progress-bar" id="prevMonthThreePBar" style="height:5px;"></div>
                                </div>
                            </div>
                            <hr class="perivousMonth" />
                            <div class="perivousMonth">
                                <div class="clearfix">
                                    <p class="m-b-0 pull-left fz12" id="monthFour"></p>
                                    <p class="m-b-0 pull-right fz12"><span class="fz-w-600 fz14" id="prevMonthFourAttWorked"></span><span class="fz-w-600 fz14" id="prevMonthFourAttActual"></span></p>
                                    <a class="fz12 p-r-20 pull-right" href="#" id="PNmonthFour" onclick="pageNavigation('monthFour')">View more</a>
                                </div>
                                <div class="progress" style="height:5px;">
                                    <div class="progress-bar" id="prevMonthFourPBar" style="height:5px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                
                <div class="col-md-6">
                    <div class="card m-b-15">
                        <div class="card-header">
                            Live Feeds
                            <div class="pull-right">
                                <p class="m-b-0 pull-left fz14 m-r-5">XC</p>
                                <div class="tg-list pull-left">
                                    <div class="tg-list-item">
                                        <input class="tgl tgl-light" id="twitOption" type="checkbox" /><label class="tgl-btn" for="twitOption"></label>
                                    </div>
                                </div>
                                <p class="m-b-0 pull-left fz14 m-l-5">MTS</p>
                            </div>
                        </div>
                        <div class="card-body p-t-0-imp overflow-y-a" style="height:290px;">
                            <div id="twitXC">
                                <a class="twitter-timeline" data-theme="light" href="https://twitter.com/xtraCHEF?ref_src=twsrc%5Etfw">Tweets by xtraCHEF</a>
                            </div>
                            <div id="twitMTS" style="display:none;">
                                <a class="twitter-timeline" data-theme="light" href="https://twitter.com/corporate_mtsin?ref_src=twsrc%5Etfw">Tweets by corporate_mtsin</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card m-b-15">
                        <div class="card-header">
                            Leave
                            <a class="fz12 pull-right" href="#" onclick="pageNavigation('leaveApply')">Apply Leave</a>
                        </div>
                        <div class="card-body p-t-0-imp" style="height:84px">
                            @*style="height:97px"*@
                            <div class="d-flex" id="empLeaveDetails">
                            </div>
                        </div>
                    </div>
                    <div class="card m-b-15" style="height:190px">
                        <div class="card-header">
                            Pay Slip / Form 16
                            <a class="fz12 pull-right" href="#" onclick="pageNavigation('paySlip_Form16')">View More</a>
                        </div>
                        <div class="card-body p-t-10-imp" style="height:97px">
                            <div class="row">
                                <div class="col-md-6">
                                    <div style="border: 1px solid #eee;cursor:pointer;" class="p10 text-center hover-card" onclick="payslip()">
                                        <i class="fa fa-download fa-lg text-success"></i>
                                        <p class="clr-33 m0 fz14">Donwload Pay Slip</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div style="border: 1px solid #eee;" class="p10 text-center opacity-3">
                                        <i class="fa fa-download fa-lg text-success"></i>
                                        <p class="clr-33 m0 fz14">Donwload Form 16</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                
            </div>
        </div>
        <div class="col-md-4">
            <div class="card m-b-15 BDNoAnnouncements">
                <div class="card-body birthday-card p-t-0-imp">
                    <h4 class="name text-center">Upcoming Birthday<br /></h4>
                    <div class="" id="UpCommingBDAnn"></div>
                </div>
            </div>
            <div class="card m-b-15 BDAnnouncements">
                <div class="card-body birthday-card p-t-0">
                    <h4 class="name text-center">Happy Birthday<br /></h4>
                    <div class="" id="BirthdayAnnouncements"></div>
                </div>
            </div>
            <div class="card m-b-15" style="height:192px">
                <div class="card-header">
                    New Joiner(s)
                </div>
                <div class="card-body p-t-0-imp" style="height:114px;">
                    <div id="newJoinerSlider">
                    </div>
                </div>
            </div>
            <div class="card m-b-30">
                <div class="card-header" id="holidayLableName">
                </div>
                <div class="card-body p-t-0-imp" style="height:290px;overflow-y:auto;">
                    <ul class="list-group list-group-flush fz13" id="holidays"></ul>
                </div>
            </div>
            
        </div>
    </div>    

    <div class="modal fade" id="MessageModal" data-backdrop="static" keyboard="false">
        <div class="modal-dialog" style="max-width: 600px">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="titleEdit" class="modal-title">Edit Message</h5>
                    <h5 id="titleAdd" class="modal-title">Add Message</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>

                <div class="modal-body">
                    <form id="MessageList" autocomplete="off">
                        <input type="hidden" id="rowId" value="">
                        <input type="hidden" class="form-control" id="url" value="">

                        <div class="form-group">
                            <label>Message Header</label>
                            <input type="text" class="form-control requir" maxlength="50" name="MessageHeader" id="MessageHeader" required />
                            <span class="field-validation-valid" id="ErrorMessageHeader" style="color:red;font: bold; display: none"></span>
                        </div>

                        <div class="form-group" id="divMessageTitle">
                            <label>Message Title</label>
                            <input type="text" class="form-control requir" maxlength="50" name="MessageTitle" id="MessageTitle" required />
                            <span class="field-validation-valid" id="ErrorMessageTitle" style="color:red;font: bold; display: none"></span>
                        </div>

                        <div class="form-group">
                            <label>Message</label>
                            <div class="xc-toolbar-border" style="border: 1px solid #d9d9d9;color: black;">
                                <div class="xc-editor-toolbar clearfix" id="toolbar1">
                                    <button class="xc-toolbar-btn" data-wysihtml5-command="formatBlock" data-wysihtml5-command-blank-value="true">P</button>
                                    <button class="xc-toolbar-btn" data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h1"><i class="fas fa-h1">H1</i></button>
                                    <button class="xc-toolbar-btn" data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h2"><i class="fas fa-h2">H2</i></button>
                                    <button class="xc-toolbar-btn" data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h3"><i class="fas fa-h3">H3</i></button>
                                    <span class="bar"></span>
                                    <button class="xc-toolbar-btn" data-wysihtml5-command="italic"><i class="fa fa-italic"></i></button>
                                    <button class="xc-toolbar-btn" data-wysihtml5-command="bold"><i class="fa fa-bold"></i></button>
                                    <span class="bar"></span>
                                    <button class="xc-toolbar-btn" data-wysihtml5-command="alignLeftStyle"><i class="fa fa-align-left"></i></button>
                                    <button class="xc-toolbar-btn" data-wysihtml5-command="alignCenterStyle"><i class="fa fa-align-center"></i></button>
                                    <button class="xc-toolbar-btn" data-wysihtml5-command="alignRightStyle"><i class="fa fa-align-right"></i></button>
                                    <span class="bar"></span>
                                    <button class="xc-toolbar-btn" data-wysihtml5-command="insertUnorderedList"><i class="fa fa-list-ul"></i></button>
                                    <button class="xc-toolbar-btn" data-wysihtml5-command="insertOrderedList"><i class="fa fa-list-ol"></i></button>
                                </div>
                                <div id="TextMessage" class="xc-editor xc-h-250 p-2" style="overflow:auto"></div>
                            </div>
                            <span class="field-validation-valid" id="ErrorTextMessage" style="color:red;font: bold; display: none"></span>
                        </div>

                        <div class="form-group">
                            <label>From Date</label>
                            <input type="text" class="form-control requir" onkeydown="return false" name="FromDate" id="FromDate" data-val-regex-pattern="^(([0-9])|([0-2][0-9])|([3][0-1]))\/(Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)\/\d{4}$" required />
                            <span class="field-validation-valid" id="ErrorFromDate" style="color:red;font: bold; display: none"></span>
                        </div>
                        <div class="form-group">
                            <label>To Date</label>
                            <input type="text" class="form-control requir" onkeydown="return false" name="ToDate" id="ToDate" data-val-regex-pattern="^(([0-9])|([0-2][0-9])|([3][0-1]))\/(Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)\/\d{4}$" required />
                            <span class="field-validation-valid" id="ErrorToDate" style="color:red;font: bold; display: none"></span>
                        </div>
                        <div class="form-group" id="divTemplate">
                            <label>Template</label>
                            <select id="TemplateType" class="form-control requir">
                                <option value="0" selected>None</option>
                                @*<option value="1">Achievement</option>
                                    <option value="2">Feedback</option>
                                    <option value="3">Congratulations</option>
                                    <option value="4">Event or holiday</option>
                                    <option value="5">Thank you</option>
                                    <option value="6">Information</option>*@
                            </select>
                            <span class="field-validation-valid" id="ErrorTemplateType" style="color:red;font: bold; display: none"></span>
                            <span class="field-validation-valid" id="Failed" style="color: red; font: bold; display: none"></span>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="dataurl">
                        <div>
                            <button type="button" id="Save" class="btn btn-success" onclick="AddEdit($('#url').val(), 'MessageList')">Save</button>
                            <button type="button" id="Update" class="btn btn-success" onclick="Update($('#url').val(), 'MessageList')">Update</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script>
    var strAnnouncements = '';
    var previousDayAtt;
    var currentWeekAtt;
    var currentMonthAtt;
    var previousMonthOneAtt;
    var previousMonthTwoAtt;
    var previousMonthThreeAtt;
    var previousMonthFourAtt;

    $(document).ready(function () {
        var CurrentYear = new Date().getFullYear();
        $("#holidayLableName").text("Upcoming Holidays " + CurrentYear);

        $('#twitOption').click(function () {
            if ($(this).prop("checked") == true) {
                $('#twitXC').hide();
                $('#twitMTS').show();
            }
            else if ($(this).prop("checked") == false) {
                $('#twitXC').show();
                $('#twitMTS').hide();
            }
        });
        $('#attendanceOption').click(function () {
            
            if ($(this).prop("checked") == true) {
                $('.currentMonth').hide();
                $('.perivousMonth').show();
            }
            else if ($(this).prop("checked") == false) {
                $('.currentMonth').show();
                $('.perivousMonth').hide();
            }
        });
        

        $('[data-toggle="popover"]').popover({
            trigger: 'hover'
        })

       // $("#btnCurMonth").addClass('btn-primary');

        //$('.btn-toggle').click(function () {

        //    if ($("#btnCurMonth").hasClass('btn-primary')) {
        //        $("#btnCurMonth").removeClass('btn-primary');
        //        $("#btnCurMonth").addClass('btn-default');
        //        $("#btnPrevMonth").addClass('btn-primary');
        //        $('.currentMonth').hide();
        //        $('.perivousMonth').show();
        //    }
        //    else {
        //        $("#btnPrevMonth").removeClass('btn-primary');
        //        $("#btnPrevMonth").addClass('btn-default');
        //        $("#btnCurMonth").addClass('btn-primary');
        //        $('.perivousMonth').hide();
        //        $('.currentMonth').show();
        //    }
        //});

        $('[data-id="show_details"]').on("click", function () {
            if ($(this).parent().parent().hasClass('less-view')) {
                $(this).parent().parent().removeClass('less-view').addClass('more-view');
                $(this).parent().find('#content').show();
                $(this).text('View less');
            }
            else {
                $(this).parent().parent().addClass('less-view').removeClass('more-view');
                $(this).parent().find('#content').hide();
                $(this).text('View more');
            }
        });

        $(".BDAnnouncements").hide();
        $(".BDNoAnnouncements").hide();
        $('.perivousMonth').hide();
        $("#divTemplate").hide();

        var editor = new wysihtml5.Editor('TextMessage', {
            toolbar: 'toolbar1',
            parserRules: wysihtml5ParserRules
        });

        // FROM & TO date (Model)
        var start = new Date();

        var end = new Date(new Date().setYear(start.getFullYear() + 2));

        $('#FromDate').datepicker({
            startDate: start,
            endDate: end,
            format: 'dd/M/yyyy',
            autoclose: true,
            todayHighlight: true,
            forceParse: false
        }).on('changeDate', function () {
            $("#ToDate").val(this.value);
            $('#ToDate').datepicker('setStartDate', new Date($(this).val()));
            $('#FromDate').blur();
            $('#ToDate').blur();
        }).keydown(function (e) {

            if (e.keyCode == 8 || e.keyCode == 46) {
                $('#FromDate').val('');
            }
        });

        $('#ToDate').datepicker({
            startDate: start,
            endDate: end,
            format: 'dd/M/yyyy',
            autoclose: true,
            todayHighlight: true,
            forceParse: false
        }).on('changeDate', function () {

            $('#FromDate').datepicker('setEndDate', new Date($(this).val()));
            $('#ToDate').blur();
        }).keydown(function (e) {

            if (e.keyCode == 8 || e.keyCode == 46) {
                $('#ToDate').val('');
            }
        });

        //Check Role of user
        var RoleId = '@ViewBag.RoleId';

        // Footer according to Role
        $(".showAnnouncements").hide();

        if (RoleId == '3' || RoleId == '4') {
            $(".showAnnouncements").show();
        }
        else{
            $(".showAnnouncements").hide();
        }
                
        employeeAttendanceDetails();
        getBirthdayWishes();
        LoadHolidayTable();
        getEmployeeLeaveCount();
        DisplayAnnouncements();
        NewJoiners();

        $('#divMessageTitle').hide();
        
    });


    function validationCall() {

        $('.field-validation-valid').text("");
        $('.field-validation-valid').show();
        if ($('#MessageHeader').val().trim() == null || $('#MessageHeader').val().trim() == '') {

            $("#ErrorMessageHeader").text("This field is required");

            //return false;
        }

        //if ($('#MessageTitle').val().trim() == null || $('#MessageTitle').val().trim() == '') {

        //    $("#ErrorMessageTitle").text("This field is required");
        //    //return false;
        //}

        if (($("#TextMessage")[0].innerHTML).includes('<img')) {

            if ($("#TextMessage")[0].innerHTML == null || $("#TextMessage")[0].innerHTML == '') {

                $("#ErrorTextMessage").text("This field is required");
                //return false;
            }
        }
        else {
            if ($("#TextMessage").text().trim() == null || $("#TextMessage").text().trim() == '') {

                $("#ErrorTextMessage").text("This field is required");
                //return false;
            }
        }

        if ($('#FromDate').val().trim() == null || $('#FromDate').val().trim() == '') {

            $("#ErrorFromDate").text("This field is required");
            //return false;
        }

        if ($('#ToDate').val().trim() == null || $('#ToDate').val().trim() == '') {

            $("#ErrorToDate").text("This field is required");
            //return false;
        }

        if ($(".field-validation-valid").text() == '') {
            return true;
        }
        else {
            return false;
        }

        //return true;
    }


    function getBirthdayWishes() {
        document.getElementById("BirthdayAnnouncements").innerHTML = "";
        $.ajax({
            type: "POST",
            url: '@Url.Content("~/Messages/GetBirthDays")',
            data: { isUpcommingBD: false },
            async: true,
            success: function (data) {
                var len = JSON.parse(data);
                if (len != null && len.length > 0) {
                    $(".BDAnnouncements").show();
                    $(".BDNoAnnouncements").hide();
                    //$(".form-signin").hide();
                    for (var i = 0; i < len.length; i++) {
                        var strEmailID = '';
                        // if (len.length-1 == i)
                        strEmailID = '<div><h4 class="text-center m-t-15 text-primary fz18">';
                        //strEmailID += '<a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=' + len[i].Email + '" target="_blank"> ' + len[i].Name + ' </a>';
                        strEmailID += len[i].Name;
                        strEmailID += '</h4><h4 class="text-center text-primary" style="font-size:15px;">' + len[i].Department + '</h4></div>';
                        //    //strEmailID = '<a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=' + len[i].Email + '" target="_blank"> ' + len[i].Name + ' </a>';
                        ////else      strEmailID = '</div><h4 class="text-center text-primary" style="font-size:15px;">' + <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=' + len[i].Email + '" target="_blank"> ' + len[i].Name + ' </a> + '</h4></div>';
                        //    //strEmailID = '<a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=' + len[i].Email + '" target="_blank"> ' + len[i].Name + ' </a><span>' + "," + '</span>';

                        $(strEmailID).appendTo("#BirthdayAnnouncements");
                    }

                    $('#BirthdayAnnouncements').bxSlider({
                        infiniteLoop: true,
                        slideMargin: 10,
                        responsive: true,
                        controls: true,
                        minSlides: 1,
                        maxSlides: 1,
                        moveSlides: 1,
                        wrapperClass: 'bx-wrapper bx-birthday',
                        auto: true,
                    });

                }
                else {
                    getUpCommingBirthday();
                    $(".BDAnnouncements").hide();
                    $(".BDNoAnnouncements").show();
                }
            }, error: function (err) {
                alert("error");
            }
        });
    }

    function getUpCommingBirthday() {
        document.getElementById("UpCommingBDAnn").innerHTML = "";
        $.ajax({
            type: "POST",
            url: '@Url.Content("~/Messages/GetBirthDays")',
            data: { isUpcommingBD: true },
            async: true,
            success: function (data) {
                var len = JSON.parse(data);
                if (len != null && len.length > 0) {
                    for (var i = 0; i < len.length; i++) {
                        var strEmailID = '';
                        //console.log(len.length, i, len.length - 1, len[i]);
                        //if (len.length - 1 == i) {
                            strEmailID = '<div><h4 class="text-center m-t-15 text-primary fz18">' + len[i].Name + ' (' + len[i].Day + ' ' + len[i].MthName + ') ' + '</h4>';
                            strEmailID += '<h4 class="text-center text-primary" style="font-size:15px;">' + len[i].Department + '</h4></div>';
                        //} else {
                        //    strEmailID = '<h4 class="text-center m-t-10 text-primary fz18">' + len[i].Name + ',</h4>';
                        //}
                        //console.log(strEmailID);
                        $(strEmailID).appendTo("#UpCommingBDAnn");
                    }
                    $('#UpCommingBDAnn').bxSlider({
                        infiniteLoop: true,
                        slideMargin: 10,
                        responsive: true,
                        controls: true,
                        minSlides: 1,
                        maxSlides: 1,
                        moveSlides: 1,
                        wrapperClass: 'bx-wrapper bx-birthday',
                        auto: true,
                        pause:3000
                    });
                }
            }, error: function (err) {
                alert("error");
            }
        });
    }

    function LoadHolidayTable() {
        var HolidayYear = new Date().getFullYear();
        $.ajax({

            type: "POST",
            url: '@Url.Content("~/ShowHolidays/ReadUpCommingHoliday")',
            data: { str: HolidayYear },

            success: function (data) {
                var HolidayList = JSON.parse(data);
                if (HolidayList.length > 0) {
                    for (var i = 0; i < HolidayList.length; i++) {
                        var holidayDetails = '';
                        holidayDetails = '<li class="list-group-item p10 p-l-0 p-r-0">' +
                        '<span class="pull-left">' + HolidayList[i].HolidayReason +
                        '</span>' +
                        '<span class="pull-right">' + HolidayList[i].DateOfHoliday +
                        '</span></li>';
                        $(holidayDetails).appendTo("#holidays");
                    }
                }
            }

        });

    }
    function getEmployeeLeaveCount() {
        document.getElementById("empLeaveDetails").innerHTML = "";
        var HolidayYear = new Date().getFullYear();
        $.ajax({

            type: "Get",
            url: '@Url.Content("~/Messages/GetEmployeeLeaveCount")',
            success: function (data) {
                var employeeLeaveCount = JSON.parse(data.result);
                var leaveTaken = 0;
                var availableLeave = 0;
                if (employeeLeaveCount.length > 0) {
                    
                    var employeeLeaveDetails = '';
                    var empTableData = '';
                    var employeeAvailableLeave = "<table class='table m0 table-sm' style='width:130px'><tr><th class='brd-t-0-imp' colspan='2'>Leave Taken</th></tr><tr>";
                    var employeeAvailedLeave = "<table class='table m0 table-sm' style='width:130px'><tr><th class='brd-t-0-imp' colspan='2'>Remaining</th></tr><tr>";
                    for (var i = 0; i < employeeLeaveCount.length; i++) {
                        if (employeeLeaveCount[i].LEAVE_CODE != "ML" && employeeLeaveCount[i].LEAVE_CODE != "PL") {
                            var empAvailableLeave = '';
                            var empAvailedLeave = '';
                            empAvailableLeave = "<td>" + employeeLeaveCount[i].LEAVE_TYPE +
                            "</td><td>" + +employeeLeaveCount[i].NumberofdaysLeaveTaken +
                            "</td></tr>";
                            empAvailedLeave = "<td>" + employeeLeaveCount[i].LEAVE_TYPE +
                            "</td><td>" + +employeeLeaveCount[i].AvailableLeave +
                            "</td></tr>";
                            employeeAvailableLeave += empAvailableLeave;
                            employeeAvailedLeave += empAvailedLeave;
                            leaveTaken += employeeLeaveCount[i].NumberofdaysLeaveTaken;
                            availableLeave += employeeLeaveCount[i].AvailableLeave;
                        }
                    }
                    employeeAvailableLeave += "</table>";
                    employeeAvailedLeave += '</table>';
                    employeeLeaveDetails = '<div class="d-flex align-items-center flex-wrap flex-column flex-grow-1 leave-details"><p class="fz18 m-b-0 clr-33 fz-w-800" style="font-size:30px;">' + leaveTaken +
                        '<i class="fa fa-exclamation-circle fz12 clr-99 p-l-10" data-toggle="popover" data-placement="left" data-html="true" data-content="' +
                        employeeAvailableLeave +
                        '" data-original-title="" title=""></i></p>' +
                        '<p class="fz14 m-b-0 clr-99 fz-w-600">' +
                        'Leave Taken' +
                        '</p></div>' +
                        '<div class="d-flex align-items-center flex-wrap flex-column flex-grow-1 leave-details">' +
                        '<p class="fz18 m-b-0 clr-33 fz-w-800" style="font-size:30px;">' + availableLeave +
                        '<i class="fa fa-exclamation-circle fz12 clr-99 p-l-10" data-toggle="popover" data-placement="left" data-html="true" data-content="' +
                        employeeAvailedLeave +
                        '" data-original-title="" title=""></i></p>' +
                        '<p class="fz14 m-b-0 clr-99 fz-w-600">' +
                        'Remaining' +
                        '</p></div>';

                    $(employeeLeaveDetails).appendTo("#empLeaveDetails");

                    $('[data-toggle="popover"]').popover({
                        trigger: 'hover'
                    })
                }
            }

        });

    }
    // New Joiners
    function NewJoiners() {

        document.getElementById("newJoinerSlider").innerHTML = "";

        $.ajax({
            type: "Get",
            url: '@Url.Content("~/Messages/GetNewJoiners")',
            async: false,
            success: function (data) {
                var len = JSON.parse(data.result);
                //var count = len.length;
                if (len.length > 0) {
                    $("#NO_NewJoiners").hide();
                    for (var i = 0; i < len.length; i++) {
                        if (len[i].Image == null || len[i].Image == "") {
                            if (len[i].Gender == "0") {
                                len[i].Image = data.resMaleimage;
                            }
                            else {
                                len[i].Image = data.resFemaleimage;
                            }
                        }
                        var strNewJoiners = '';
                        var strNewJoiners = '<div style="border:1px solid #eee;padding:10px;border-radius:5px;">' +
                            '<img class="pull-left m5" height="50" width="50" src="data:image/png;base64,' + len[i].Image + '"/>' +
                            '<div style="padding-left:80px;">' +
                            '<p class="m-b-5 fz14">' + len[i].Name + '</p>' +
                            '<p class="m-b-0 fz12 clr-99">' + len[i].Designation + '</p>' +
                            '<p class="m-b-0 fz12 clr-99">' + len[i].Email + '</p>' +
                            '</div><div class="clearfix"></div></div>'
                        $(strNewJoiners).appendTo("#newJoinerSlider");
                    }

                    $('#newJoinerSlider').bxSlider({
                        infiniteLoop: true,
                        slideMargin: 10,
                        responsive: true,
                        controls: true,
                        minSlides: 1,
                        maxSlides: 1,
                        moveSlides: 1,
                        wrapperClass: 'bx-wrapper new-joiner',
                        auto: true,
                    });
                    //$("#countNewJoiners").html(count + ' Member(s)');
                }
                else {
                    $("#NewJoinersCard").hide();
                    $("#NO_NewJoiners").show();
                }
            }
        });

    }

        function getLeaveBalance() {
            var currentYear = new Date().getFullYear();
            $.ajax({
                type: "POST",
                url: '@Url.Content("~/LeaveApply/GetLeaveBalance")', @*'@Url.Content("~/Messages/DisplayMessages")',*@
                data: { year: currentYear },
                crossDomain: true,
                async: true,
                success: function (data) {
                    var len = JSON.parse(data.result);
                    if (len.length > 0) {
                    }
                    else {
                    }
                }, error: function (err) {
                    alert("error");
                }
            });
        }

    // Announcements
    function DisplayAnnouncements() {

        //Display Message Status(Anouncements)
        var AnnouncementsMsgStatus = 1;

        document.getElementById("Announcements").innerHTML = "";

        $.ajax({
            type: "POST",
            data: { MsgStatus: AnnouncementsMsgStatus },
            url: '@Url.Content("~/Messages/DisplayMessages")',
            //crossDomain: true,
            //async: true,
            success: function (data) {

                var len = JSON.parse(data.result);
                if (len.length > 0) {
                    $("#NOPOST_Announcements").hide();
                    $('#AnnouncementCard').show();
                    for (var i = 0; i < len.length; i++) {
                            if (len[i].Firstname == null || len[i].Firstname == undefined) {
                                len[i].Firstname = 'Admin';
                            }
                            var strAnnouncements = '';
                            strAnnouncements = '<div class="m-b-15 less-view" data-id="fullView">' +
                                '<div class="post-heading">' +
                                '<h5 class="fz14">' +
                                '<b>' + len[i].MessageHeader + '</b>' +
                                '</h5>' +
                                '<div class="post-detail fz12">' +
                                    '<label class="m-r-20">' + len[i].Firstname + '</label>' + len[i].PostedDate +
                                '</div>' +
                                '<div id=' + len[i].id + ' style="display:none;border-top:1px solid #eee;overflow-y:auto;" class="m-t-5 p-t-5 p-b-5 fz14">' + len[i].Message + '</div>' +
                                '<a href="#" class="fz12 pull-right spanedit" onclick="ShowModal(this,' + len[i].id + ')" data-id="show_details" data-content="toggle-text">View More</a>' +
                            '<div class="clearfix"></div>' +
                                '</div>' +
                        '</div>'
                            $(strAnnouncements).appendTo("#Announcements");
                        }
                    }
                else {
                    $('#AnnouncementCard').hide();
                    $("#NOPOST_Announcements").show();
                }
            }, error: function (err) {
                alert("error");
            }
        });
    }

    function ShowModal(elem, id) {
        if (elem.text == "View More") {
            $('#' + id).show();
            elem.text = "View Less";
        }
        else {
            $('#' + id).hide();
            elem.text = "View More";
        }
    }

    function addMessages() {
    
        $("#url").val('@Url.Content("~/Messages/AddMessages")');
        $('.field-validation-valid').text("");
        $('#MessageList label.error').text('');
        $(".addMessages").val("1");     // Adding Message Status(Announcements)
        $("#MessageHeader").val("");
        $("#MessageTitle").val("");
        $("#TextMessage").val("");
        $("#FromDate").val("");
        $("#ToDate").val("");
        $('#TemplateType').val("0");
        document.getElementById("TextMessage").innerHTML = "";
        
        $(".addMessages").val("1");     // Adding Message Status(Announcements)
        $("#MessageModal").modal('show');
        if ($("#MessageHeader").val() == "") {
            $('#titleAdd').show();
            $('#Save').show();
            $('#titleEdit').hide();
            $('#Update').hide();
        }
    }



    function AddEdit(actionurl, formid) {
        //if ($("#MessageList").valid()) {
        if (($("#TextMessage")[0].innerHTML.trim()).includes('<img')) {
            var x = document.getElementById("TextMessage").getElementsByTagName("img");
            if (x[0].width > 380)
                x[0].width = 380;
            if (x[0].height > 400)
                x[0].height = 400;
        }

        if(validationCall()){
            //$('#TextMessage').val(document.getElementById("TextMessage").innerHTML);
            var mess = {
                Id: $('#rowId').val(),
                FromDate: $('#FromDate').val(),
                ToDate: $('#ToDate').val(),
                MessageHeader: $('#MessageHeader').val().trim(),
                MessageTitle: $('#MessageHeader').val().trim(),         // Replaced Messsage Title with Message Header
                TextMessage: $("#TextMessage")[0].innerHTML.trim(),
                //TextMessage: $("#TextMessage").text().trim(),
                TemplateType: $('#TemplateType').val(),
                MessageStatus: $(".addMessages").val() == "1" ? 1 : 2
            }
            if ($("#TextMessage")[0].innerHTML.trim() == "") {
                $("#ErrorTextMessage").text("This filed is required");
                $("#ErrorTextMessage").show();
            }
            else {
                $.ajax({
                    type: "POST",
                    url: actionurl,
                    contentType: "application/json",
                    dataType: "json",
                    data:
                       JSON.stringify({ mess: mess }),

                    success: function (response) {
                        if (parseInt(response.success) == 1) {
                            $('#MessageModal').modal('hide');
                            DisplayAnnouncements();
                        }
                        else {
                            $('#Failed').text("Failed To Update");
                            $('#Failed').show();
                        }
                    }
                });
            }
        }
    }
    function MessageTemplate(TemplateId, MessageData) {
        var templates = [
            { backgroundColorBoxShadeStyle: 'background-color:hsla(50, 100%, 51%, 0.19); box-shadow: 0px 1px 20px 2px #f99e2c66;', userNameLineStyle: 'border-bottom-color:#e2993d1f; color:#d47a0a', headIconClass: 'fa fa-trophy', headColorStyle: 'color:#92550199;' }
            , { backgroundColorBoxShadeStyle: 'background-color:hsla(50, 100%, 51%, 0.19); box-shadow: 0px 1px 20px 2px #f99e2c66;', userNameLineStyle: 'border-bottom-color:#e2993d1f; color:#d47a0a', headIconClass: 'fa fa-trophy', headColorStyle: 'color:#92550199;' }
            , { backgroundColorBoxShadeStyle: 'background-color:hsla(340, 76%, 80%, 0.38); box-shadow: 0px 1px 12px 3px #ffbbd285;', userNameLineStyle: 'border-bottom-color:#d03de22b; color:#9d11a7', headIconClass: 'fa fa-wechat', headColorStyle: 'color:#800a82bf;' }
            , { backgroundColorBoxShadeStyle: 'background-color:hsla(127, 94%, 87%, 0.59); box-shadow: 0px 1px 12px 3px #92da8da8;', userNameLineStyle: 'border-bottom-color:#3de2422b; color:hsla(116, 86%, 32%, 0.94)', headIconClass: 'fa fa-gift', headColorStyle: 'color:hsla(116, 86%, 32%, 0.94);' }
            , { backgroundColorBoxShadeStyle: 'background-color:hsla(54, 100%, 77%, 0.74); box-shadow: 0px 1px 12px 3px #e2d883d4;', userNameLineStyle: 'border-bottom-color:hsla(54, 94%, 49%, 0.17); color:hsla(45, 70%, 46%, 0.9215686274509803)', headIconClass: 'fa fa-calendar-times-o', headColorStyle: 'color:hsla(45, 70%, 46%, 0.9215686274509803);' }
            , { backgroundColorBoxShadeStyle: 'background-color:hsla(8, 100%, 79%, 0.41); box-shadow:0px 1px 12px 1px hsla(0, 53%, 71%, 0.6588235294117647);', userNameLineStyle: 'border-bottom-color:hsla(4, 90%, 58%, 0.12156862745098039); color:hsla(4, 74%, 49%, 0.9)', headIconClass: 'fa fa-handshake-o', headColorStyle: 'color:hsla(4, 74%, 49%, 0.9);' }
            , { backgroundColorBoxShadeStyle: 'background-color:hsla(84, 87%, 62%, 0.58); box-shadow: 0px 1px 12px 2px #92da8d9e;', userNameLineStyle: 'border-bottom-color:hsla(122, 74%, 56%, 0.16862745098039217); color:hsla(116, 86%, 32%, 0.94)', headIconClass: 'fa fa-info-circle', headColorStyle: 'color:hsla(116, 86%, 32%, 0.94);' }
        ];
        var Out = '';
        for (var i = 0; i <= 6; i++) {
            if (i == TemplateId) {
                Out = '<div class="row p10">' +
                    '<div class="col-lg-12 textboxtemp pull-right" style="' + templates[i].backgroundColorBoxShadeStyle + '">' +
           '<div class="textboxtemp-username" style="' + templates[i].userNameLineStyle + '">' +
               '<div class="pull-right fa fa-clock-o">&nbsp; ' + MessageData.PostedDate + '</div>' +
               '<div>' +
                   MessageData.Firstname +
               '</div>' +
               '</div>' +
               '<div class="textboxtemp-head">' +
               '<div class="' + templates[i].headIconClass + '" style="' + templates[i].headColorStyle + '"> ' + MessageData.MessageHeader + '</div>' +
               '</div>' +
               '<div class="textboxtemp-body">' +
                MessageData.Message +
           '</div>' +
           '</div></div><br />'
            }
        }
        return Out;
    }


    function pageNavigation(event) {
        if (event == 'leaveApply')
            window.location.href = '@Url.Action("LeaveApply", "LeaveApply")';
        else if (event == 'paySlip_Form16')
            window.location.href = '@Url.Action("PaySlip_Form16", "PaySlip_Form16")';
        else if (event == 'curMonth' || event == 'monthOne' || event == 'monthTwo' || event == 'monthThree' || event == 'monthFour') {
            AttMonthYear = $("#" + event).text();
            window.location.href = '@Url.Content("~/EmployeeEntry/EmployeeMonthlyAttendance?AttMonthYear=")' + AttMonthYear;
        }
    }

    function payslip() {
        const monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
        var now = new Date();
        var monthName = '';
        var year = '';
        var pastYear = new Date().getFullYear() - 1;
        var currentYear = new Date().getFullYear();
        if (pastYear != currentYear && now.getMonth() == 0) {
            monthName = monthNames[11];
            year = pastYear;
        } else {
            monthName = monthNames[now.getMonth() - 1];
            year = new Date().getFullYear();
        }
        //const d = new Date();
        //var monthName = monthNames[d.getMonth()]

        //var year = new Date().getFullYear();

        var datas = {
            Payform: 0,
            Date: year + '/' + monthName
        }
        //if ($(".form-signin").valid()) {

        $.ajax({
            type: 'POST',
            url: '@Url.Content("~/PaySlip_Form16/PaySlip_Form16")',
            headers: {
                auth: "user"
            },
            data:datas,
            //$(".form-signin").serialize(),

            success: function (result) {
                if (result == 0) {

                    toastr.error("No File Generated");
                }
                else if (result == 1) {
                    var left = (screen.width / 2) - (1100 / 2);
                    var top = (screen.height / 2) - (800 / 2);
                    window.open('@Url.Action("File", "PaySlip_Form16")', 'Payslip', 'toolbar=0 scrollbars=no, resizable,width= 1100, height= 800, top=' + top + ', left=' + left);
                }
                else if (result == 2) {
                    window.location.href = '@Url.Action("File", "PaySlip_Form16")';
                }
            }
        });
        //}
    }

    function employeeAttendanceDetails() {
        var info;
        $.ajax({
            type: 'POST'
            //, async: false
            , url: '@Url.Content("~/Messages/GetEmployeeAttendanceDetails")'
            , success: function (data) {
                
                if (data.success = true) {
                    previousDayAtt = JSON.parse(data.result);
                    currentWeekAtt = JSON.parse(data.result1);
                    currentMonthAtt = JSON.parse(data.result2);
                    previousMonthOneAtt = JSON.parse(data.result3);
                    previousMonthTwoAtt = JSON.parse(data.result4);
                    previousMonthThreeAtt = JSON.parse(data.result5);
                    previousMonthFourAtt = JSON.parse(data.result6);

                    if (previousDayAtt[0].WorkedHours == '0 h 0 m' && previousDayAtt[0].ActualHours == '0 h') {
                        $("#prevDayAttWorked").text('Data not available');
                    }
                    else {
                        $("#prevDayAttWorked").text(previousDayAtt[0].WorkedHours + '/');
                        $("#prevDayAttActual").text(previousDayAtt[0].ActualHours);
                        $("#prevDayPBar").css("width", previousDayAtt[0].Percentage);
                    }

                    if (currentWeekAtt[0].WorkedHours == '0 h 0 m' && currentWeekAtt[0].ActualHours == '0 h') {
                        $("#curWeekAttWorked").text('Data not available');
                    }
                    else {
                        $("#curWeekAttWorked").text(currentWeekAtt[0].WorkedHours + '/');
                        $("#curWeekAttActual").text(currentWeekAtt[0].ActualHours);
                        $("#curWeekPBar").css("width", currentWeekAtt[0].Percentage);
                    }

                    if (currentMonthAtt[0].WorkedHours == '0 h 0 m' && currentMonthAtt[0].ActualHours == '0 h') {
                        $("#curMonthAttWorked").text('Data not available');
                        $("#PNcurMonth").hide();
                    }
                    else {
                        $("#curMonthAttWorked").text(currentMonthAtt[0].WorkedHours + '/');
                        $("#curMonthAttActual").text(currentMonthAtt[0].ActualHours);
                        $("#curMonthPBar").css("width", currentMonthAtt[0].Percentage);
                        $("#PNcurMonth").show();
                    }

                    if (previousMonthOneAtt[0].WorkedHours == '0 h 0 m' && previousMonthOneAtt[0].ActualHours == '0 h') {
                        $("#prevMonthOneAttWorked").text('Data not available');
                        $("#PNmonthOne").hide();
                    }
                    else {
                        $("#prevMonthOneAttWorked").text(previousMonthOneAtt[0].WorkedHours + '/');
                        $("#prevMonthOneAttActual").text(previousMonthOneAtt[0].ActualHours);
                        $("#prevMonthOnePBar").css("width", previousMonthOneAtt[0].Percentage);
                        $("#PNmonthOne").show();
                    }

                    if (previousMonthTwoAtt[0].WorkedHours == '0 h 0 m' && previousMonthTwoAtt[0].ActualHours == '0 h') {
                        $("#prevMonthTwoAttWorked").text('Data not available');
                        $("#PNmonthTwo").hide();
                    }
                    else {
                        $("#prevMonthTwoAttWorked").text(previousMonthTwoAtt[0].WorkedHours + '/');
                        $("#prevMonthTwoAttActual").text(previousMonthTwoAtt[0].ActualHours);
                        $("#prevMonthTwoPBar").css("width", previousMonthTwoAtt[0].Percentage);
                        $("#PNmonthTwo").show();
                    }

                    if (previousMonthThreeAtt[0].WorkedHours == '0 h 0 m' && previousMonthThreeAtt[0].ActualHours == '0 h') {
                        $("#prevMonthThreeAttWorked").text('Data not available');
                        $("#PNmonthThree").hide();
                    }
                    else {
                        $("#prevMonthThreeAttWorked").text(previousMonthThreeAtt[0].WorkedHours + '/');
                        $("#prevMonthThreeAttActual").text(previousMonthThreeAtt[0].ActualHours);
                        $("#prevMonthThreePBar").css("width", previousMonthThreeAtt[0].Percentage);
                        $("#PNmonthThree").show();
                    }

                    if (previousMonthFourAtt[0].WorkedHours == '0 h 0 m' && previousMonthFourAtt[0].ActualHours == '0 h') {
                        $("#prevMonthFourAttWorked").text('Data not available');
                        $("#PNmonthFour").hide();
                    }
                    else {
                        $("#prevMonthFourAttWorked").text(previousMonthFourAtt[0].WorkedHours + '/');
                        $("#prevMonthFourAttActual").text(previousMonthFourAtt[0].ActualHours);
                        $("#prevMonthFourPBar").css("width", previousMonthFourAtt[0].Percentage);
                        $("#PNmonthFour").show();
                    }

                    attendancePercentage("#prevDayPBar", previousDayAtt[0].Percent);
                    attendancePercentage("#curWeekPBar", currentWeekAtt[0].Percent);
                    attendancePercentage("#curMonthPBar", currentMonthAtt[0].Percent);
                    attendancePercentage("#prevMonthOnePBar", previousMonthOneAtt[0].Percent);
                    attendancePercentage("#prevMonthTwoPBar", previousMonthTwoAtt[0].Percent);
                    attendancePercentage("#prevMonthThreePBar", previousMonthThreeAtt[0].Percent);
                    attendancePercentage("#prevMonthFourPBar", previousMonthFourAtt[0].Percent);
                    
                    $('#curMonth').text(data.monthName[0]);
                    $('#monthOne').text(data.monthName[1]);
                    $('#monthTwo').text(data.monthName[2]);
                    $('#monthThree').text(data.monthName[3]);
                    $('#monthFour').text(data.monthName[4]);

                    info = '<i class="fa fa-info-circle p-l-10 clr-99" data-toggle="popover" data-placement="right" data-html="true" data-content="' + data.lastUploadedDate + '" ></i>'

                    $(info).appendTo('#lastDateInfo');
                    $('[data-toggle="popover"]').popover({
                        trigger: 'hover'
                    });
                }
                
            }
        });

    }

    function attendancePercentage(id, input) {
        percentageClass = (input >= 98) ? 'bg-success' : (input < 98 && input >= 50) ? 'bg-warning' : 'bg-danger';
        $(id).addClass(percentageClass);
    }

</script>
