@model MTSINHR.Models.Holidays

@{
    ViewBag.Title = "HolidaysList";
}
@System.Web.Optimization.Styles.Render("~/bundles/bootstrapdt")
@System.Web.Optimization.Styles.Render("~/bundles/fontawesome")
@System.Web.Optimization.Styles.Render("~/bundles/datepickercss")
@System.Web.Optimization.Scripts.Render("~/bundles/datatable")
@System.Web.Optimization.Scripts.Render("~/bundles/datepicker")
<script src="~/Scripts/DataTables/datatables.sorting.natural.js"></script>

<script src="~/Scripts/ValidationFunction.js"></script>



<script>
    var groupTable;

    $(document).ready(function () {

        var currentyear = new Date().getFullYear();
        var nextyear = new Date().getFullYear() + 1;

        var myOptions = {
            currentyear: new Date().getFullYear(),
            nextyear: new Date().getFullYear() + 1
        };
        var mySelect = $('#Year');
        $.each(myOptions, function (val, text) {
            mySelect.append(
                $('<option></option>').val(val).html(text)
            );
        });


        var textboxyear = $('#YearOfHoliday').val(currentyear);
        var sd = currentyear;
        $('#DateOfHoliday').datepicker({
            format: 'dd/M/yyyy',
            autoclose: true,
            todayHighlight: true,
            daysOfWeekDisabled: [0, 6],
            startDate: '01/01/' + sd,
            endDate: '31/12/' + sd
        });
        holidayTable();
        LoadHolidayTable(currentyear.toString());
        
        $("#HolidayReason").val();
        $.ajax({
            url: '@Url.Content("~/HolidaysList/getMtsHolidaysList")',
            type: 'GET',
            success: function (data) {
                var ddData = JSON.parse(data);
                $("#HolidayReason").empty();
                $.each(ddData, function (key, value) {
                    $("#HolidayReason").append($("<option></option>").val(ddData[key].Value).html(ddData[key].Text));
                });
            }
        });
        $('#AddHoliday').show();
        $('#AddMtsHolidayList').hide();
        $('#saveNameoftheHoliday').hide();
        $('#cancelNameoftheHoliday').hide();
        $('#NameoftheHolidayError').hide();
        $('#HolidayError').hide();
    });

    function holidayTable() {

        groupTable = $("#getHolidays").DataTable({
            "data": "",
            "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
            "iDisplayLength": 10,
            "bFilter": true,
            "bProcessing": true,

            "aoColumns": [
                   { "mData": "id", "sTitle": "ID", "sClass": "text-right", "sWidth": "80px", "bVisible": false }
                   , { "mData": "YearOfHoliday", "sTitle": "Year of Holiday", "sClass": "text-left" }
                   , { "mData": "HolidayReason", "sTitle": "Holiday Reason", "sClass": "text-left" }
                   , { "mData": "DateOfHoliday", "sType": "date", "sTitle": "Date of Holiday", "sClass": "text-left" }
                   , { "mData": "id", "sTitle": "Edit", "sClass": "text-center", "sWidth": "1%", "orderable": false }
            ],
            "aoColumnDefs": [
   {
       "aTargets": [4]
       , "mRender": function (data, type, row) {
           return '<span onclick= editHolidays($(this).closest("tr")) class="btn fa fa-edit txt-edit spanedit"></span>';
       }
   }],
        });

    }


    function LoadHolidayTable(YearOfHoliday) {
        $.ajax({
            type: "POST",
            url: '@Url.Content("~/HolidaysList/Read")',
            data: { str: YearOfHoliday },

            success: function (data) {
                groupTable.clear();
                groupTable.rows.add(JSON.parse(data));
                groupTable.draw();
            }

        });
    }


    function AddNameoftheHoliday() {
        if ($("#HolidayName").val() != "") {
            $('#NameoftheHolidayError').hide();

            $.ajax({
                type: 'POST',
                url: '@Url.Content("~/HolidaysList/AddHolidayName")',
                data:
                    {
                        HolidayName: $("#HolidayName").val(),
                    },

                success: function (response) {
                    if (parseInt(response.success) == 1) {
                        $('#HolidayError').hide();
                        
                        var ddData = JSON.parse(response.mtsHolidaysList);
                        $("#HolidayReason").empty();
                        $.each(ddData, function (key, value) {
                            $("#HolidayReason").append($("<option></option>").val(ddData[key].Value).html(ddData[key].Text));
                        });
                        $('#AddHoliday').show();
                        $('#AddMtsHolidayList').hide();
                        $('#save').show();
                        $('#saveNameoftheHoliday').hide();
                        $('#cancelNameoftheHoliday').hide();

                    } else {
                        $('#HolidayError').show();
                    }
                },
                error: function (a, b, c) {
                }
            });
        } else {
            $('#NameoftheHolidayError').show();
        }

    }

    function AddEdit(actionurl, formid) {
        if (checkForm(formid)) {

            var HolidayDate = $("#DateOfHoliday").val();
            var ParsedHoliday = new Date(HolidayDate);
            var days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
            var Day = days[ParsedHoliday.getDay()];
            $.ajax({
                type: 'POST',
                url: actionurl,
                data:
                    {
                        Id: $("#rowId").val(),
                        YearOfHoliday: $("#YearOfHoliday").val(),
                        HolidayReason: $("#HolidayReason").val(),
                        DateOfHoliday: $("#DateOfHoliday").val(),
                        DayName: Day
                    },

                success: function (response) {
                    if (parseInt(response.success) == 1) {
                        $("#Holiday").modal('hide');
                        var YearOfHoliday = $("#YearOfHoliday").val();
                        LoadHolidayTable(YearOfHoliday);
                        toastr.success("Successfully Added");
                    } else {
                        $('#fieldError').text("Failed To Update, Already Exists");
                        $('#fieldError').show();
                    }
                },
                error: function (a, b, c) {
                }
            });
        }
        else {
            $('#fieldError').hide();
            $('#Error').text("All fields are Required!");
            $('#Error').show();
        }
    };


    function editHolidays(curTr) {

        var data = groupTable.row(curTr).data();
        $("#url").val('@Url.Content("~/HolidaysList/Edit")');
        $(".field-validation-valid").text("");
        $("#rowId").val(data.id);
        $("#YearOfHoliday").val(data.YearOfHoliday);
        $("#HolidayReason").val(data.HolidayReason);
        $("#DateOfHoliday").val(data.DateOfHoliday);
        $("#actiontitle").text("Edit Holidays");
        $("#Holiday").modal('show');
    };

    function addHolidays() {
        $("#url").val('@Url.Content("~/HolidaysList/Add")');
        $(".field-validation-valid").text("");
        $("#actiontitle").text("Add Holidays");
        var selectyear = $('#Year :selected').text();
        $("#YearOfHoliday").val(selectyear);

        $("#HolidayReason").val("");
        $("#DateOfHoliday").val("");
        $("#Holiday").modal('show');
    };

    function addHolidayReason() {
        $('#AddHoliday').hide();
        $('#AddMtsHolidayList').show();
        $('#save').hide();
        $('#saveNameoftheHoliday').show();
        $('#cancelNameoftheHoliday').show();
        $("#HolidayName").val("");        
    };

    function Cancel() {
        $('#AddHoliday').show();
        $('#AddMtsHolidayList').hide();
        $('#save').show();
        $('#saveNameoftheHoliday').hide();
        $('#cancelNameoftheHoliday').hide();
    };
    
    function parseDate(str) {
        var arrDt = []
        if (typeof (str) !== 'string') {

            for (var i = 0; i < str.length; i++) {
                arrDt[i] = str[i].split('/');
                return new Date(arrDt[i]);
            }
        }
        else {

            var date = str.split('/');
            return new Date(date[2], date[0] - 1, date[1]);
        }
    };
</script>

<script>
    function Setyear() {

        $('#DateOfHoliday').datepicker("destroy");

        var startyear = $('#Year :selected').text();
        var chandate = Number(startyear);

        $('#DateOfHoliday').datepicker({
            format: 'dd/M/yyyy',
            autoclose: true,
            todayHighlight: true,
            daysOfWeekDisabled: [0, 6],
            startDate: '01/01/' + chandate,
            endDate: '31/12/' + chandate
        });


        var selectedyear = $('#Year :selected').text();
        LoadHolidayTable(selectedyear.toString());
    }
</script>

<div class="card">
    <div class="card-header text-center">
        Holidays List
    </div>
    <div class="card-body">
        <div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="text-right ">
                        <label>Year</label>
                        <select id="Year" name="Year" onchange="Setyear()"></select>
                        <button type="button" onclick="addHolidays()" class="btn btn-primary btn-sm" id="create"><span class="fa fa-plus-circle"></span>&nbsp;&nbsp;Add</button>
                    </div>

                </div>
            </div>

            <div class="clearfix"></div>
            <div class="row m-t-15">

                <div class="MTS_Table">
                    <table id="getHolidays" class="table table-bordered table-hover tabel-sm table-responsive" cellspacing="0" width="100%">
                    </table>
                </div>
            </div>

        </div>
</div>
</div>

<div class="modal fade" id="Holiday" data-backdrop="static" keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="actiontitle" class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body" id="AddHoliday">
                <form id="HolidayList">
                    <input type="hidden" class="form-control" name="Id" id="rowId" value="">
                    <input type="hidden" class="form-control" id="url" value="">
                    <div class="form-group">
                        <label>Year</label>
                        <input type="text" id="YearOfHoliday" class="form-control" readonly />
                    </div>
                    <div class="form-group">
                        <label>Holiday Reason</label>
                        <span class="fa fa-plus-circle" title="Add Holiday Reason" style="color:blue;font-size: 16px;cursor: pointer;" onclick="addHolidayReason()"></span>
                        <select class="form-control" name="HolidayReason" id="HolidayReason"></select>
                    </div>
                    <div class="form-group">
                        <label>Date Of Holiday</label>
                        <input type="text" class="form-control" name="DateOfHoliday" id="DateOfHoliday" data-val-regex-pattern="^(([0-9])|([0-2][0-9])|([3][0-1]))\/(Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)\/\d{4}$" required />
                        <span class="field-validation-valid" id="fieldError" style="color: red; font: bold; display: none"></span>
                        <span class="field-validation-valid" id="Error" style="color: red; font: bold; display: none"></span>
                    </div>
                </form>
            </div>
            <div class="modal-body" id="AddMtsHolidayList">
                    <div class="form-group">
                        <label>Name of the Holiday</label>
                        <input class="form-control" name="HolidayName" id="HolidayName" />
                        <span id="NameoftheHolidayError" style="color: red; font: bold; display: none">Enter Holiday Name</span>
                        <span id="HolidayError" style="color: red; font: bold; display: none">Failed To Update, Already Exists</span>
                    </div>
            </div>
            <div class="modal-footer">
                <div class="dataurl">
                    <button type="button" id="save" class="btn btn-success" onclick="AddEdit($('#url').val(), 'HolidayList')">Save</button>
                </div>
                <div>
                    <button type="button" id="cancelNameoftheHoliday" class="btn btn-success" onclick="Cancel()">Cancel</button>
                    <button type="button" id="saveNameoftheHoliday" class="btn btn-success" onclick="AddNameoftheHoliday()">Save Holiday Name</button>
                </div>
            </div>
        </div>
    </div>
</div>
